Repository carere/zaidan: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, check

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bun commitlint --edit {1}

pre-commit:
  commands:
    sort-package-json:
      glob: "package.json"
      run: bun sort-package-json {staged_files}
      stage_fixed: true
    check:
      glob: "*.{js,ts,tsx,json,jsonc,html,css}"
      run: bun biome check --write {staged_files}
      stage_fixed: true

feat(ui): add chart component with Apache ECharts
  bun.lock
  package.json
  public/r/calendar.json
  public/r/chart.json
  public/r/registry.json
  registry.json
  src/pages/ui/chart.mdx
  src/registry/examples/chart-example.tsx
  src/registry/ui/chart.tsx
Due: sort-package-json, check

feat: update chart component
  README.md
  src/registry/ui/chart.tsx
Due: check

feat: sync chart component
  README.md
  bun.lock
  package.json
  public/r/calendar.json
  public/r/chart.json
  public/r/registry.json
  registry.json
  src/pages/ui/chart.mdx
  src/registry/examples/chart-example.tsx
  src/registry/ui/chart.tsx
Due: sort-package-json, check

feat(docs): sync accordion examples and documentation
  src/pages/ui/accordion.mdx
  src/registry/examples/accordion-example.tsx
Due: check

chore: update vite config to handle FRONTEND_PORT
  vite.config.ts
Due: check

fix: use bun to access env variables
  bun.lock
  package.json
  tsconfig.json
  vite.config.ts
Due: sort-package-json, check

feat(docs): sync accordion examples and documentation from Shadcn UI
  src/pages/ui/accordion.mdx
  src/registry/examples/accordion-example.tsx
Due: check

chore: adding some imporvement to mdx
  .gitignore
  bun.lock
  package.json
  src/lib/remark-plugins/code-import.ts
  src/lib/vite-plugins/mdx.ts
  src/pages/ui/accordion.mdx
  src/registry/examples/table-example.tsx
Due: sort-package-json, check

feat(docs): add Examples section to alert documentation
  src/pages/ui/alert.mdx
Due: none

feat(docs): add `Examples` section to alert documentation
  src/pages/ui/alert.mdx
Due: none

chore: adding env example for cloudflare r2 env vars
  .env.example
Due: none

refactor: use proper names for examples
  alert-examples-validation.png
  src/registry/examples/alert-example.tsx
Due: check

chore: add validation screenshot for PR
  alert-examples-validation.png
Due: none

refactor: alert examples proper names
  src/registry/examples/alert-example.tsx
Due: check

feat(docs): sync alert-dialog examples and documentation
  src/pages/ui/alert-dialog.mdx
  src/registry/examples/alert-dialog-example.tsx
Due: check

feat(docs): sync badge examples and documentation from Shadcn UI
  src/pages/ui/badge.mdx
  src/registry/examples/badge-example.tsx
Due: check

feat(docs): sync badge examples and documentation
  src/pages/ui/badge.mdx
  src/registry/examples/badge-example.tsx
Due: check

feat(docs): sync aspect-ratio examples and documentation
  src/pages/ui/aspect-ratio.mdx
  src/registry/examples/aspect-ratio-example.tsx
Due: check

fix: adding overflow-hidden to aspect-ratio
  README.md
  src/components/item-explorer.tsx
  src/pages/ui/aspect-ratio.mdx
  src/registry/examples/aspect-ratio-example.tsx
  src/registry/ui/aspect-ratio.tsx
Due: check

feat(docs): sync aspect-ratio examples and documentation
  README.md
  src/components/item-explorer.tsx
  src/pages/ui/aspect-ratio.mdx
  src/registry/examples/aspect-ratio-example.tsx
  src/registry/ui/aspect-ratio.tsx
Due: check

feat(docs): sync avatar examples and documentation
  src/pages/ui/avatar.mdx
  src/registry/examples/avatar-example.tsx
Due: check

fix: complete avatar component
  src/pages/ui/avatar.mdx
  src/registry/examples/avatar-example.tsx
  src/registry/ui/avatar.tsx
Due: check

fix: complete avatar component
  src/registry/ui/avatar.tsx
Due: check

chore: remove avatar example & docs for a better start
  src/pages/ui/avatar.mdx
  src/registry/examples/avatar-example.tsx
Due: check

feat: add test.txt file
  test.txt
Due: none

chore: add .wrangler to gitignore
  .gitignore
Due: none

chore: update the example env file
  .env.example
Due: none

chore: fix package.json
  bun.lock
  package.json
Due: sort-package-json, check

chore: remove unused package
  bun.lock
  package.json
Due: sort-package-json, check

chore: update playwright configuration for mcp and local
  .gitignore
  .mcp.json
  bun.lock
  package.json
  playwright-mcp-config.json
  playwright.config.ts
  tests/alert-dialog.spec.ts
Due: sort-package-json, check

chore: remove recording video from CI playwright test
  playwright.config.ts
Due: check

chore: adding some playwright stuff
  .mcp.json
  .vscode/settings.json
  ai_docs/README.md
  ai_docs/class-locator.md
  ai_docs/locators.md
  ai_docs/writing-tests.md
  bun.lock
  package.json
  playwright.config.ts
  tests/alert-dialog.spec.ts
Due: sort-package-json, check

chore: finally found the correct way to create a test with pw
  tests/alert-dialog.spec.ts
Due: check

chore: go back to regular pw mcp
  .mcp.json
Due: check

chore: add port env to the config file
  playwright.config.ts
Due: check

feat: finished alert-dialog test suite
  tests/alert-dialog.spec.ts
Due: check
