Repository carere/zaidan: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, check

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bun commitlint --edit {1}

pre-commit:
  commands:
    sort-package-json:
      glob: "package.json"
      run: bun sort-package-json {staged_files}
      stage_fixed: true
    check:
      glob: "*.{js,ts,tsx,json,jsonc,html,css}"
      run: bun biome check --write {staged_files}
      stage_fixed: true

docs: improve homepage (#146)
  .vscode/settings.json
  src/components/icons/solidjs.tsx
  src/components/mdx-components.tsx
  src/lib/vite-plugins/mdx.ts
  src/pages/docs/home.mdx
Due: check

chore: prepare release 0.0.7
  CHANGELOG.md
  package.json
Due: sort-package-json, check

chore: release 0.0.7
  CHANGELOG.md
  package.json
Due: sort-package-json, check

docs: add comprehensive installation guide
  src/pages/docs/installation.mdx
Due: none

docs: add vitejs installation guide
  src/components/icons/solid-start.tsx
  src/components/icons/solidjs-off.tsx
  src/components/icons/zaidan.tsx
  src/components/item-explorer.tsx
  src/components/item-picker.tsx
  src/components/mdx-components.tsx
  src/components/not-found-page.tsx
  src/components/toc.tsx
  src/lib/remark-plugins/steps.ts
  src/lib/utils.ts
  src/lib/vite-plugins/mdx.ts
  src/pages/docs/home.mdx
  src/pages/docs/installation.mdx
  src/pages/docs/installation/vite.mdx
  src/routeTree.gen.ts
  src/routes/_website.installation.$slug.tsx
  src/styles.css
  src/styles/expressive-code.css
  velite.config.ts
Due: check

docs: finishing vite installation steps
  src/pages/docs/installation/vite.mdx
Due: none

docs: add comprehensive installation guide
  src/components/icons/solid-start.tsx
  src/components/icons/solidjs-off.tsx
  src/components/icons/zaidan.tsx
  src/components/item-explorer.tsx
  src/components/item-picker.tsx
  src/components/mdx-components.tsx
  src/components/not-found-page.tsx
  src/components/toc.tsx
  src/lib/remark-plugins/steps.ts
  src/lib/utils.ts
  src/lib/vite-plugins/mdx.ts
  src/pages/docs/home.mdx
  src/pages/docs/installation.mdx
  src/pages/docs/installation/vite.mdx
  src/routeTree.gen.ts
  src/routes/_website.installation.$slug.tsx
  src/styles.css
  src/styles/expressive-code.css
  velite.config.ts
Due: check

docs: finishing remaining docs
  .vscode/settings.json
  src/lib/remark-plugins/package-manager-tabs.ts
  src/pages/docs/installation.mdx
  src/pages/docs/installation/astro.mdx
  src/pages/docs/installation/manual.mdx
  src/pages/docs/installation/solid-start.mdx
  src/pages/docs/installation/tanstack-router.mdx
  src/pages/docs/installation/tanstack-start.mdx
  src/pages/docs/installation/vite.mdx
Due: check

chore: add seo metatags
  public/manifest.json
  public/robots.txt
  src/lib/seo.ts
  src/lib/site.ts
  src/routes/__root.tsx
  src/routes/_website.installation.$slug.tsx
  src/routes/_website.ui.$slug.docs.tsx
  src/routes/_website.ui.{-$slug}.tsx
  src/routes/_website.{-$slug}.tsx
Due: check

chore: add sitemap & manifest
  public/manifest.json
  public/sitemap.xml
  src/routes/__root.tsx
Due: check

feat: add seo tags
  public/manifest.json
  public/robots.txt
  public/sitemap.xml
  src/lib/seo.ts
  src/lib/site.ts
  src/routes/__root.tsx
  src/routes/_website.installation.$slug.tsx
  src/routes/_website.ui.$slug.docs.tsx
  src/routes/_website.ui.{-$slug}.tsx
  src/routes/_website.{-$slug}.tsx
Due: check

chore: prepare release 1.0.0
  CHANGELOG.md
  package.json
Due: sort-package-json, check

chore: release 1.0.0
  CHANGELOG.md
  package.json
Due: sort-package-json, check

fix: weird bug, button on first render cause unable to load js
  src/components/toc.tsx
  src/pages/docs/home.mdx
  src/routes/_website.installation.$slug.tsx
  src/routes/_website.ui.$slug.docs.tsx
  src/routes/_website.{-$slug}.tsx
Due: check

chore: prepare release 1.0.1
  CHANGELOG.md
  package.json
Due: sort-package-json, check

chore: release 1.0.1
  CHANGELOG.md
  package.json
Due: sort-package-json, check

ci: remove static check on tag push
  .github/workflows/quality-assurance.yml
Due: none

fix: add image og and better seo
  introducing-zaidan.md
  public/favicon.svg
  public/manifest.json
  public/sitemap.xml
  public/zaidan-og.png
  src/lib/seo.ts
  src/lib/site.ts
  src/pages/docs/home.mdx
  src/routes/__root.tsx
  src/routes/_website.installation.$slug.tsx
  src/routes/_website.ui.$slug.docs.tsx
Due: check

chore: prepare release 1.0.2
  CHANGELOG.md
  package.json
Due: sort-package-json, check

chore: release 1.0.2
  CHANGELOG.md
  package.json
Due: sort-package-json, check

fix: title was not updated
  public/og-image.png
  src/lib/seo.ts
  src/routes/__root.tsx
Due: check

chore: prepare release 1.0.3
  CHANGELOG.md
  package.json
Due: sort-package-json, check

chore: release 1.0.3
  CHANGELOG.md
  package.json
Due: sort-package-json, check

fix: head content does not update
  src/routes/__root.tsx
Due: check

chore: prepare release 1.0.4
  CHANGELOG.md
  package.json
Due: sort-package-json, check

chore: release 1.0.4
  CHANGELOG.md
  package.json
Due: sort-package-json, check

chore: move HeadContent to body to showcase css reload
  src/routes/__root.tsx
Due: check

chore: remove ai_docs & fix logo link in README
  .gitignore
  README.md
  ai_docs/playwright/locator-class.md
  ai_docs/playwright/locators.md
  ai_docs/playwright/writing-tests.md
  ai_docs/shadcn-ui/authentication.md
  ai_docs/shadcn-ui/mcp-registry.md
  ai_docs/shadcn-ui/registry-examples.md
  ai_docs/shadcn-ui/registry-index.md
  ai_docs/shadcn-ui/registry-item-json.md
  ai_docs/shadcn-ui/registry-json.md
  ai_docs/shadcn/namespace.md
  ai_docs/shadcn/registry-getting-started.md
  ai_docs/shadcn/registry.md
  ai_docs/tanstack-router/search-params.md
Due: none

chore: update gitignore
  .gitignore
Due: none

chore: remove unused file
  introducing-zaidan.md
Due: none

chore: remove previous zaidan agents
  .claude/agents/zaidan-component-syncer.md
  .claude/agents/zaidan-examples-docs-syncer.md
Due: none

feat: update justfile
  justfile
Due: none

feat: new iteration on zaidan agent system
  .claude/agents/docs-syncer.md
  .claude/agents/zaidan-transformer.md
  .claude/commands/sync.md
  .claude/skills/source-resolver/SKILL.md
  new-zaidan-system.md
Due: none

chore: copy agents base to zaidan
  .claude/agents/zaidan-component-syncer.md
  .claude/agents/zaidan-examples-docs-syncer.md
Due: none
