Repository carere/zaidan: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, check

sort-package-json:
  run: bun sort-package-json {staged_files}
  stage_fixed: true

check:
  run: bun biome check --write {staged_files}
  stage_fixed: true

docs(roadmap): trim roadmap to registry expansion and RTL support
  src/pages/docs/roadmap.mdx
Due: none

feat(home): point the hero badge at the typeset, blocks and charts release
  src/components/home-hero.tsx
Due: check

chore(release): prepare 1.2.0 changelog
  CHANGELOG.md
  package.json
  src/pages/changelog/typeset-blocks-and-charts.mdx
Due: sort-package-json, check

style(example): sync example wrapper with upstream shadcn
  src/components/example.tsx
Due: check

fix(docs): render the chart install blocks like every other doc page
  src/pages/ui/kobalte/chart.mdx
Due: none

fix(docs): keep expressive-code assets alive when a preview hides its code
  src/lib/rehype-plugins/collapse-expressive-code.ts
Due: check

docs(registry): correct customization doc and zaidan skill against the registry
  .agents/skills/zaidan/SKILL.md
  .agents/skills/zaidan/references/component-selection.md
  .agents/skills/zaidan/references/installation.md
  src/pages/docs/customization.mdx
Due: none

fix(changelog): describe the toast item as it actually shipped
  CHANGELOG.md
  src/pages/changelog/typeset-blocks-and-charts.mdx
Due: none

chore(cog): let cocogitto ignore merge commits
  cog.toml
Due: none

fix(hooks): stop biome failing commits that only touch built output
  lefthook.yml
Due: none

chore(registry): rebuild the kobalte registry index
  public/r/kobalte/registry.json
Due: check

feat(cog): accept merge as a commit type
  cog.toml
Due: none

fix(moon): register every build artifact and scope the registry tasks
  moon.yml
Due: none

feat(moon): chain build on the registry build, and that on validation
  moon.yml
Due: none

fix(registry): restore the chart palettes to the registry source
  moon.yml
  public/r/kobalte/registry.json
  src/registry/kobalte/registry.json
Due: check

chore: base for reui block ports
  bun.lock
  docs/research/reui-port-decisions.md
  package.json
  src/registry/kobalte/registry.json
  src/registry/kobalte/ui/icon-stack.tsx
Due: sort-package-json, check

feat(gantt): port gantt core - types, calendar math, i18n, and recurrence
  src/registry/kobalte/blocks/gantt/gantt-i18n.ts
  src/registry/kobalte/blocks/gantt/gantt-lib.ts
  src/registry/kobalte/blocks/gantt/gantt-recurrence.ts
  src/registry/kobalte/blocks/gantt/gantt-types.ts
  src/registry/kobalte/blocks/gantt/index.tsx
Due: check

feat(event-calendar): port types, lib, i18n, and recurrence core
  src/registry/kobalte/blocks/event-calendar/event-calendar-i18n.tsx
  src/registry/kobalte/blocks/event-calendar/event-calendar-lib.tsx
  src/registry/kobalte/blocks/event-calendar/event-calendar-recurrence.tsx
  src/registry/kobalte/blocks/event-calendar/event-calendar-types.tsx
  src/registry/kobalte/blocks/event-calendar/index.tsx
Due: check

feat(kanban): port reui kanban core to SolidJS with @dnd-kit/solid
  src/registry/kobalte/blocks/kanban/index.tsx
  src/registry/kobalte/blocks/kanban/kanban.tsx
Due: check

feat(data-grid): port reui data-grid core and table renderers to SolidJS
  src/registry/kobalte/blocks/data-grid/data-grid-table.tsx
  src/registry/kobalte/blocks/data-grid/data-grid.tsx
  src/registry/kobalte/blocks/data-grid/index.tsx
Due: check

feat(filters): port reui filters block core to SolidJS
  src/registry/kobalte/blocks/filters/context.ts
  src/registry/kobalte/blocks/filters/filter-input.tsx
  src/registry/kobalte/blocks/filters/filter-operator-dropdown.tsx
  src/registry/kobalte/blocks/filters/filter-submenu-content.tsx
  src/registry/kobalte/blocks/filters/filters.tsx
  src/registry/kobalte/blocks/filters/i18n.ts
  src/registry/kobalte/blocks/filters/index.tsx
  src/registry/kobalte/blocks/filters/select-options-popover.tsx
  src/registry/kobalte/blocks/filters/types.ts
  src/registry/kobalte/blocks/filters/use-field-options.ts
  src/registry/kobalte/blocks/filters/utils.ts
  src/registry/kobalte/registry.json
Due: check

feat(gantt): port the headless engine and the pointer gesture engine
  src/registry/kobalte/blocks/gantt/gantt-dnd.tsx
  src/registry/kobalte/blocks/gantt/gantt.tsx
  src/registry/kobalte/blocks/gantt/index.tsx
Due: check

feat(kanban): demos, docs and registry entry
  public/r/kobalte/icon-stack.json
  public/r/kobalte/kanban.json
  public/r/kobalte/registry.json
  src/pages/blocks/kobalte/kanban-docs.test.ts
  src/pages/blocks/kobalte/kanban.mdx
  src/registry/kobalte/blocks/kanban/kanban.tsx
  src/registry/kobalte/examples/docs/kanban-demo.tsx
  src/registry/kobalte/examples/docs/kanban-overlay.tsx
  src/registry/kobalte/examples/docs/kanban-persistence.tsx
  src/registry/kobalte/registry.json
Due: check

feat(event-calendar): port the engine, nav, content switchboard and pointer DnD
  src/registry/kobalte/blocks/event-calendar/event-calendar-content.tsx
  src/registry/kobalte/blocks/event-calendar/event-calendar-dnd.tsx
  src/registry/kobalte/blocks/event-calendar/event-calendar-nav.tsx
  src/registry/kobalte/blocks/event-calendar/event-calendar.tsx
  src/registry/kobalte/blocks/event-calendar/index.tsx
Due: check

feat(data-grid): port column header, filter, visibility, pagination, scroll area, virtual and dnd views
  src/registry/kobalte/blocks/data-grid/data-grid-column-filter.tsx
  src/registry/kobalte/blocks/data-grid/data-grid-column-header.tsx
  src/registry/kobalte/blocks/data-grid/data-grid-column-visibility.tsx
  src/registry/kobalte/blocks/data-grid/data-grid-pagination.tsx
  src/registry/kobalte/blocks/data-grid/data-grid-scroll-area.tsx
  src/registry/kobalte/blocks/data-grid/data-grid-table-dnd-rows.tsx
  src/registry/kobalte/blocks/data-grid/data-grid-table-dnd.tsx
  src/registry/kobalte/blocks/data-grid/data-grid-table-virtual.tsx
  src/registry/kobalte/blocks/data-grid/index.tsx
Due: check

feat(gantt): port the view, bar and nav layers to SolidJS
  src/registry/kobalte/blocks/gantt/gantt-bar.tsx
  src/registry/kobalte/blocks/gantt/gantt-nav.tsx
  src/registry/kobalte/blocks/gantt/gantt-view-lib.ts
  src/registry/kobalte/blocks/gantt/gantt-view-rows.tsx
  src/registry/kobalte/blocks/gantt/gantt-view.tsx
  src/registry/kobalte/blocks/gantt/index.tsx
Due: check

feat(data-grid): demos, docs and registry entry
  src/pages/blocks/kobalte/data-grid-docs.test.ts
  src/pages/blocks/kobalte/data-grid.mdx
  src/registry/kobalte/blocks/data-grid/data-grid-column-header.tsx
  src/registry/kobalte/examples/docs/data-grid-auto-width.tsx
  src/registry/kobalte/examples/docs/data-grid-cell-border.tsx
  src/registry/kobalte/examples/docs/data-grid-demo.tsx
  src/registry/kobalte/examples/docs/data-grid-dense.tsx
  src/registry/kobalte/examples/docs/data-grid-light.tsx
  src/registry/kobalte/examples/docs/data-grid-row-selection.tsx
  src/registry/kobalte/examples/docs/data-grid-striped.tsx
  src/registry/kobalte/examples/docs/data-grid-tree-rows.tsx
  src/registry/kobalte/registry.json
Due: check

feat(filters): demos, docs and registry entry
  src/pages/blocks/kobalte/filters-docs.test.ts
  src/pages/blocks/kobalte/filters.mdx
  src/registry/kobalte/blocks/filters/filter-submenu-content.tsx
  src/registry/kobalte/blocks/filters/filters.tsx
  src/registry/kobalte/blocks/filters/index.tsx
  src/registry/kobalte/blocks/filters/select-options-popover.tsx
  src/registry/kobalte/blocks/filters/types.ts
  src/registry/kobalte/blocks/filters/use-field-options.ts
  src/registry/kobalte/blocks/filters/utils.ts
  src/registry/kobalte/examples/docs/filters-async-prefetch.tsx
  src/registry/kobalte/examples/docs/filters-async-search.tsx
  src/registry/kobalte/examples/docs/filters-custom-controls.tsx
  src/registry/kobalte/examples/docs/filters-demo.tsx
  src/registry/kobalte/examples/docs/filters-i18n.tsx
  src/registry/kobalte/examples/docs/filters-large.tsx
  src/registry/kobalte/examples/docs/filters-small.tsx
  src/registry/kobalte/examples/docs/filters-table.tsx
  src/registry/kobalte/examples/docs/filters-trigger.tsx
  src/registry/kobalte/examples/docs/filters-validation.tsx
  src/registry/kobalte/examples/docs/filters-virtualized.tsx
Due: check

feat(event-calendar): port the event chip and the month, time-grid, agenda and resource views
  src/registry/kobalte/blocks/event-calendar/event-calendar-agenda-view.tsx
  src/registry/kobalte/blocks/event-calendar/event-calendar-event.tsx
  src/registry/kobalte/blocks/event-calendar/event-calendar-month-view.tsx
  src/registry/kobalte/blocks/event-calendar/event-calendar-resource-view.tsx
  src/registry/kobalte/blocks/event-calendar/event-calendar-time-grid.tsx
  src/registry/kobalte/blocks/event-calendar/index.tsx
Due: check

fix(data-grid): keep opted-out columns and inert row grips undraggable
  src/registry/kobalte/blocks/data-grid/data-grid-table-dnd-rows.tsx
  src/registry/kobalte/blocks/data-grid/data-grid-table-dnd.tsx
Due: check

feat(badge): add light and outline status variants
  public/r/kobalte/badge.json
  public/r/kobalte/icon-stack.json
  public/r/kobalte/registry.json
  public/r/kobalte/style-luma.json
  public/r/kobalte/style-lyra.json
  public/r/kobalte/style-maia.json
  public/r/kobalte/style-mira.json
  public/r/kobalte/style-nova.json
  public/r/kobalte/style-rhea.json
  public/r/kobalte/style-sera.json
  public/r/kobalte/style-vega.json
  src/pages/ui/kobalte/badge-docs.test.ts
  src/pages/ui/kobalte/badge.mdx
  src/registry/kobalte/examples/docs/badge-status.tsx
  src/registry/kobalte/styles/style-luma.css
  src/registry/kobalte/styles/style-lyra.css
  src/registry/kobalte/styles/style-maia.css
  src/registry/kobalte/styles/style-mira.css
  src/registry/kobalte/styles/style-nova.css
  src/registry/kobalte/styles/style-rhea.css
  src/registry/kobalte/styles/style-sera.css
  src/registry/kobalte/styles/style-vega.css
  src/registry/kobalte/ui/badge.tsx
  vite.config.ts
Due: check

fix(kanban): complete manual install, drop generated registry output
  public/r/kobalte/icon-stack.json
  public/r/kobalte/kanban.json
  public/r/kobalte/registry.json
  src/pages/blocks/kobalte/kanban-docs.test.ts
  src/pages/blocks/kobalte/kanban.mdx
Due: check

chore: exclude .claude/worktrees from vitest
  vite.config.ts
Due: check

feat(event-calendar): demos, docs and registry entry
  src/pages/blocks/kobalte/event-calendar-docs.test.ts
  src/pages/blocks/kobalte/event-calendar.mdx
  src/registry/kobalte/examples/docs/event-calendar-demo.tsx
  src/registry/kobalte/registry.json
Due: check

feat(gantt): demos, docs and registry entry
  src/pages/blocks/kobalte/gantt-docs.test.ts
  src/pages/blocks/kobalte/gantt.mdx
  src/registry/kobalte/blocks/gantt/gantt-view.tsx
  src/registry/kobalte/examples/docs/gantt-capacity.tsx
  src/registry/kobalte/examples/docs/gantt-demo.tsx
  src/registry/kobalte/examples/docs/gantt-roadmap.tsx
  src/registry/kobalte/examples/docs/gantt-status-report.tsx
  src/registry/kobalte/registry.json
Due: check

Path conditions:
  sort-package-json: any of: package.json
  check: any of: *.{js,ts,tsx,json,jsonc,html,css}
