Repository carere/zaidan: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, check

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bun commitlint --edit {1}

pre-commit:
  commands:
    sort-package-json:
      glob: "package.json"
      run: bun sort-package-json {staged_files}
      stage_fixed: true
    check:
      glob: "*.{js,ts,tsx,json,jsonc,html,css}"
      run: bun biome check --write {staged_files}
      stage_fixed: true

feat(docs): sync sidebar examples and documentation for all variants
  src/pages/ui/sidebar-floating.mdx
  src/pages/ui/sidebar-icon.mdx
  src/pages/ui/sidebar-inset.mdx
  src/pages/ui/sidebar.mdx
  src/registry/examples/sidebar-example.tsx
  src/registry/examples/sidebar-floating-example.tsx
  src/registry/examples/sidebar-icon-example.tsx
  src/registry/examples/sidebar-inset-example.tsx
  tests/sidebar.spec.ts
Due: check

chore: update package.json and stuff
  bun.lock
  package.json
  src/routeTree.gen.ts
Due: sort-package-json, check

feat(routes): add not found pages and loading skeletons
  src/routes/_website.ui.{-$slug}.tsx
  src/routes/_website.{-$slug}.tsx
  src/routes/preview.$primitive.$slug.tsx
Due: check

feat: add not found pages and loading skeletons
  src/routes/_website.ui.{-$slug}.tsx
  src/routes/_website.{-$slug}.tsx
  src/routes/preview.$primitive.$slug.tsx
Due: check

chore: adding script for selecting ports
  .gitignore
  bun.lock
  package.json
  scripts/setup-dev-env.ts
  tests/alert-dialog.spec.ts
  tests/checkbox.spec.ts
  tests/input-group.spec.ts
  tests/kbd.spec.ts
  tests/popover.spec.ts
Due: sort-package-json, check

chore: specify port in the server entry in vite config js
  vite.config.ts
Due: check

chore: fix port definition in vite config ts
  vite.config.ts
Due: check

chore: fix setup-dev-env allocation port verification
  scripts/setup-dev-env.ts
Due: check

fix: update script to proper port allocation
  scripts/setup-dev-env.ts
Due: check

fix: update vite & playwright to use proper env var
  playwright.config.ts
  vite.config.ts
Due: check

fix: using APP_PORT avoiding collision
  playwright.config.ts
  vite.config.ts
Due: check

refactor(ui): separate component docs from preview into distinct routes
  src/components/item-picker.tsx
  src/components/view-switcher.tsx
  src/lib/types.ts
  src/lib/view-context.tsx
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/_website.ui.{-$slug}.docs.tsx
Due: check

fix: bad handling of toogle view mode
  src/components/view-switcher.tsx
  src/routeTree.gen.ts
  src/routes/_website.ui.$slug.docs.tsx
Due: check

refactor(ui): separate component docs and preview into distinct routes
  src/components/item-picker.tsx
  src/components/view-switcher.tsx
  src/lib/types.ts
  src/lib/view-context.tsx
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/_website.ui.$slug.docs.tsx
Due: check

feat(ui): add badge group navigation for preview/docs toggle
  src/components/preview-badge-nav.tsx
  src/components/preview.tsx
Due: check

feat: remove toggle view
  src/components/preview-badge-nav.tsx
  src/components/preview.tsx
  src/components/toc.tsx
  src/components/view-switcher.tsx
  src/lib/style-context.tsx
  src/routes/_website.tsx
  src/routes/_website.ui.$slug.docs.tsx
Due: check

feat(ui): add badge group navigation for preview/docs toggle
  src/components/preview-badge-nav.tsx
  src/components/preview.tsx
  src/components/toc.tsx
  src/components/view-switcher.tsx
  src/lib/style-context.tsx
  src/routes/_website.tsx
  src/routes/_website.ui.$slug.docs.tsx
Due: check

style: update & simplify responsive for entire website
  src/components/customizer.tsx
  src/components/item-picker.tsx
  src/components/pickers/base-color-picker.tsx
  src/components/pickers/base-picker.tsx
  src/components/pickers/font-picker.tsx
  src/components/pickers/menu-accent-picker.tsx
  src/components/pickers/radius-picker.tsx
  src/components/pickers/style-picker.tsx
  src/components/pickers/theme-picker.tsx
  src/components/preview.tsx
  src/routes/_website.tsx
  src/routes/_website.ui.$slug.docs.tsx
  src/routes/_website.ui.{-$slug}.tsx
  src/routes/_website.{-$slug}.tsx
  src/styles.css
Due: check

style: improving style for mobile & tablet
  src/components/customizer.tsx
  src/components/toc.tsx
  src/pages/docs/home.mdx
  src/routes/_website.tsx
  src/routes/_website.{-$slug}.tsx
Due: check

feat: update CLAUDE with proper insight
  CLAUDE.md
Due: none

feat: adding collapsible toc to mobile & tablet
  src/routes/_website.{-$slug}.tsx
Due: check

feat: finish responsive on all website
  src/components/item-explorer.tsx
  src/registry/ui/sidebar.tsx
  src/routes/_website.tsx
  src/routes/_website.ui.$slug.docs.tsx
  src/routes/_website.ui.{-$slug}.tsx
  src/routes/_website.{-$slug}.tsx
Due: check

feat: add responsive to entire website
  CLAUDE.md
  src/components/customizer.tsx
  src/components/item-explorer.tsx
  src/components/item-picker.tsx
  src/components/pickers/base-color-picker.tsx
  src/components/pickers/base-picker.tsx
  src/components/pickers/font-picker.tsx
  src/components/pickers/menu-accent-picker.tsx
  src/components/pickers/radius-picker.tsx
  src/components/pickers/style-picker.tsx
  src/components/pickers/theme-picker.tsx
  src/components/preview.tsx
  src/components/toc.tsx
  src/pages/docs/home.mdx
  src/registry/ui/sidebar.tsx
  src/routes/_website.tsx
  src/routes/_website.ui.$slug.docs.tsx
  src/routes/_website.ui.{-$slug}.tsx
  src/routes/_website.{-$slug}.tsx
  src/styles.css
Due: check

chore: remove mcp.json config for vibe-kanban main config
  .mcp.json
Due: check

refactor: improve CLAUDE.md
  CLAUDE.md
Due: none

refactor: little change to CLAUDE.md
  CLAUDE.md
Due: none

refactor: update ai docs
  ai_docs/README.md
  ai_docs/class-locator.md
  ai_docs/locators.md
  ai_docs/playwright-locator-api.md
  ai_docs/playwright-locators.md
  ai_docs/playwright-writing-tests.md
  ai_docs/tanstack-router-search-params.md
  ai_docs/writing-tests.md
Due: none

chore: add app_review to gitignored
  .gitignore
Due: none

feat: adding code_of_conduct and netlify badge
  CODE_OF_CONDUCT.md
  netlify.toml
  src/pages/docs/home.mdx
Due: none

feat(customizer): connect pickers to iframe preview via URL search params
  src/components/item-picker.tsx
  src/components/mode-switcher.tsx
  src/components/pickers/base-color-picker.tsx
  src/components/pickers/font-picker.tsx
  src/components/pickers/menu-accent-picker.tsx
  src/components/pickers/menu-color-picker.tsx
  src/components/pickers/radius-picker.tsx
  src/components/pickers/style-picker.tsx
  src/components/pickers/theme-picker.tsx
  src/components/preview-style.tsx
  src/components/providers/design-system-provider.tsx
  src/components/random-button.tsx
  src/hooks/use-iframe-sync.ts
  src/lib/config.ts
  src/lib/fonts.ts
  src/lib/search-params.ts
  src/routes/__root.tsx
  src/routes/_website.tsx
  src/routes/_website.ui.{-$slug}.tsx
  src/routes/preview.$primitive.$slug.tsx
Due: check

feat: add iframe <-> picker sync
  src/components/item-picker.tsx
  src/components/providers/design-system-provider.tsx
  src/hooks/use-iframe-sync.ts
  src/lib/config.ts
  src/lib/fonts.ts
  src/lib/types.ts
  src/routes/_website.ui.{-$slug}.tsx
  src/routes/preview.$primitive.$slug.tsx
Due: check

feat: adding color mode switcher sync between iframe & main page
  src/components/item-picker.tsx
  src/components/mode-switcher.tsx
  src/components/pickers/base-color-picker.tsx
  src/components/preview-style.tsx
  src/components/random-button.tsx
  src/lib/color-mode.tsx
  src/lib/types.ts
  src/registry/ui/sonner.tsx
  src/routes/__root.tsx
  src/routes/_website.ui.{-$slug}.tsx
  src/routes/preview.$primitive.$slug.tsx
  src/styles.css
  vite.config.ts
Due: check

feat(customizer): connect pickers to iframe preview via URL search params
  src/components/item-picker.tsx
  src/components/mode-switcher.tsx
  src/components/pickers/base-color-picker.tsx
  src/components/pickers/font-picker.tsx
  src/components/pickers/menu-accent-picker.tsx
  src/components/pickers/menu-color-picker.tsx
  src/components/pickers/radius-picker.tsx
  src/components/pickers/style-picker.tsx
  src/components/pickers/theme-picker.tsx
  src/components/random-button.tsx
  src/lib/color-mode.tsx
  src/lib/config.ts
  src/lib/search-params.ts
  src/lib/types.ts
  src/registry/ui/sonner.tsx
  src/routes/__root.tsx
  src/routes/_website.tsx
  src/routes/_website.ui.{-$slug}.tsx
  src/routes/preview.$primitive.$slug.tsx
  src/styles.css
  vite.config.ts
Due: check

refactor: update color mode & clean search-params
  src/lib/color-mode.tsx
  src/lib/search-params.ts
Due: check

feat: update the registry
  bun.lock
  package.json
  public/r/accordion.json
  public/r/alert-dialog.json
  public/r/alert.json
  public/r/aspect-ratio.json
  public/r/avatar.json
  public/r/badge.json
  public/r/breadcrumb.json
  public/r/button-group.json
  public/r/button.json
  public/r/calendar.json
  public/r/card.json
  public/r/carousel.json
  public/r/chart.json
  public/r/checkbox.json
  public/r/collapsible.json
  public/r/combobox.json
  public/r/command.json
  public/r/context-menu.json
  public/r/drawer.json
  public/r/dropdown-menu.json
  public/r/input.json
  public/r/kbd.json
  public/r/menubar.json
  public/r/native-select.json
  public/r/resizable.json
  public/r/select.json
  public/r/separator.json
  public/r/sheet.json
  public/r/sidebar.json
  public/r/skeleton.json
  public/r/sonner.json
  public/r/tabs.json
  public/r/toggle-group.json
  public/r/toggle.json
  public/r/tooltip.json
  public/r/use-mobile.json
Due: sort-package-json, check

feat: finishing pickers update for search params
  bun.lock
  package.json
  src/components/item-picker.tsx
  src/components/pickers/base-color-picker.tsx
  src/components/pickers/base-picker.tsx
  src/components/pickers/font-picker.tsx
  src/components/pickers/menu-accent-picker.tsx
  src/components/pickers/menu-color-picker.tsx
  src/components/pickers/radius-picker.tsx
  src/components/pickers/style-picker.tsx
  src/components/pickers/theme-picker.tsx
  src/components/random-button.tsx
  src/lib/config.ts
  src/lib/search-params.ts
  src/lib/types.ts
  src/routes/__root.tsx
  src/routes/preview.$primitive.$slug.tsx
Due: sort-package-json, check

feat: fix double cmd+k trigger
  src/components/random-button.tsx
  src/routes/_website.tsx
  vite.config.ts
Due: check

feat: toggle cmd+k
  src/components/item-picker.tsx
Due: check

fix: font picker
  src/routes/__root.tsx
  src/routes/preview.$primitive.$slug.tsx
  src/styles.css
Due: check

style: update main css file
  src/routes/preview.$primitive.$slug.tsx
  src/styles.css
Due: check
