Repository carere/zaidan: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, check

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bun commitlint --edit {1}

pre-commit:
  commands:
    sort-package-json:
      glob: "package.json"
      run: bun sort-package-json {staged_files}
      stage_fixed: true
    check:
      glob: "*.{js,ts,tsx,json,jsonc,html,css}"
      run: bun biome check --write {staged_files}
      stage_fixed: true

feat: adding themes fron shadcn repo
  bun.lock
  package.json
  src/lib/themes.ts
Due: sort-package-json, check

feat(preview): add dynamic theme CSS variable injection
  src/lib/config.ts
  src/lib/theme-utils.ts
  src/routes/preview.$primitive.$slug.tsx
Due: check

feat(preview): Add dynamic theme CSS variable injection for preview iframe
  src/lib/config.ts
  src/lib/theme-utils.ts
  src/routes/preview.$primitive.$slug.tsx
Due: check

feat(customizer): implement random, reset, and lock mechanisms for pickers
  src/components/customizer.tsx
  src/components/lock-button.tsx
  src/components/pickers/base-color-picker.tsx
  src/components/pickers/font-picker.tsx
  src/components/pickers/menu-accent-picker.tsx
  src/components/pickers/radius-picker.tsx
  src/components/pickers/style-picker.tsx
  src/components/pickers/theme-picker.tsx
  src/components/random-button.tsx
  src/components/reset-button.tsx
  src/lib/types.ts
  src/lib/use-locks.tsx
Due: check

fix: accordion broken due to solidjs
  .vscode/settings.json
  src/components/customizer.tsx
  src/components/item-explorer.tsx
  src/components/item-picker.tsx
  src/registry/examples/accordion-example.tsx
  src/routes/_website.tsx
Due: check

chore: update README for ai_docs
  ai_docs/README.md
  ai_docs/playwright-locator-api.md
  ai_docs/playwright-locators.md
  ai_docs/playwright-writing-tests.md
  ai_docs/tanstack-router-search-params.md
Due: none

docs: update ai_docs content
  ai_docs/README.md
  ai_docs/playwright/locator-class.md
  ai_docs/playwright/locators.md
  ai_docs/playwright/writing-tests.md
  ai_docs/shadcn-ui/authentication.md
  ai_docs/shadcn-ui/mcp-registry.md
  ai_docs/shadcn-ui/registry-examples.md
  ai_docs/shadcn-ui/registry-index.md
  ai_docs/shadcn-ui/registry-item-json.md
  ai_docs/shadcn-ui/registry-json.md
  ai_docs/shadcn/namespace.md
  ai_docs/shadcn/registry-getting-started.md
  ai_docs/shadcn/registry.md
  ai_docs/tanstack-router/search-params.md
Due: none

feat: adding kobalte default style to registry
  public/r/alert-dialog.json
  public/r/button-group.json
  public/r/calendar.json
  public/r/carousel.json
  public/r/combobox.json
  public/r/command.json
  public/r/dialog.json
  public/r/field.json
  public/r/input-group.json
  public/r/item.json
  public/r/pagination.json
  public/r/sidebar.json
  public/r/sonner.json
  public/r/toggle-group.json
  public/r/use-color-mode.json
Due: check

feat: finalizing styles.css
  src/components/item-picker.tsx
  src/components/pickers/style-picker.tsx
  src/lib/config.ts
  src/registry/kobalte/examples/breadcrumb-example.tsx
  src/registry/kobalte/examples/chart-example.tsx
  src/registry/kobalte/examples/navigation-menu-example.tsx
  src/registry/kobalte/examples/select-example.tsx
  src/registry/kobalte/examples/sidebar-example.tsx
  src/registry/kobalte/styles/style-lyra.css
  src/registry/kobalte/styles/style-maia.css
  src/registry/kobalte/styles/style-mira.css
  src/registry/kobalte/styles/style-nova.css
  src/registry/kobalte/styles/style-vega.css
  src/registry/kobalte/ui/breadcrumb.tsx
  src/registry/kobalte/ui/calendar.tsx
  src/registry/kobalte/ui/drawer.tsx
  src/registry/kobalte/ui/select.tsx
  src/registry/kobalte/ui/slider.tsx
  src/routes/__root.tsx
  src/routes/preview.$primitive.$slug.tsx
Due: check

feat: finalizing styles.css (#128)
  src/components/item-picker.tsx
  src/components/pickers/style-picker.tsx
  src/lib/config.ts
  src/registry/kobalte/examples/breadcrumb-example.tsx
  src/registry/kobalte/examples/chart-example.tsx
  src/registry/kobalte/examples/navigation-menu-example.tsx
  src/registry/kobalte/examples/select-example.tsx
  src/registry/kobalte/examples/sidebar-example.tsx
  src/registry/kobalte/styles/style-lyra.css
  src/registry/kobalte/styles/style-maia.css
  src/registry/kobalte/styles/style-mira.css
  src/registry/kobalte/styles/style-nova.css
  src/registry/kobalte/styles/style-vega.css
  src/registry/kobalte/ui/breadcrumb.tsx
  src/registry/kobalte/ui/calendar.tsx
  src/registry/kobalte/ui/drawer.tsx
  src/registry/kobalte/ui/select.tsx
  src/registry/kobalte/ui/slider.tsx
  src/routes/__root.tsx
  src/routes/preview.$primitive.$slug.tsx
Due: check

chore: update style.css handling
  src/registry/kobalte/styles/style-lyra.css
  src/registry/kobalte/styles/style-maia.css
  src/registry/kobalte/styles/style-mira.css
  src/registry/kobalte/styles/style-nova.css
  src/registry/kobalte/styles/style-vega.css
  src/registry/kobalte/ui/navigation-menu.tsx
  src/styles.css
Due: check

fix: item-explorer search params fix
  netlify.toml
  src/components/item-explorer.tsx
  src/lib/remark-plugins/code-import.ts
Due: check

chore: add public/r to gitignore
  .gitignore
Due: none

chore: adding github release workflow
  .github/workflows/pre-release.yml
  .github/workflows/quality-assurance.yml
  .github/workflows/release.yml
  knope.toml
  package.json
Due: sort-package-json, check

chore: switching to cloudflare worker page deploy
  .github/workflows/pre-release.yml
  .github/workflows/quality-assurance.yml
  .github/workflows/release.yml
  knope.toml
  wrangler.jsonc
Due: check

chore: add github workflows setup with wrangler
  .github/workflows/pre-release.yml
  .github/workflows/quality-assurance.yml
  .github/workflows/release.yml
  bun.lock
  package.json
  wrangler.jsonc
Due: sort-package-json, check

fix: quality assurance workflow
  .github/workflows/quality-assurance.yml
  README.md
Due: none

chore: move kobalte registry under kobalte style
  package.json
  src/registry/kobalte/registry.json
Due: sort-package-json, check

chore: add caching to avoid build if possible
  .github/workflows/quality-assurance.yml
  .github/workflows/release.yml
Due: none

build: adding knope config file
  knope.toml
Due: none

build: update cache key in workflow
  .github/workflows/quality-assurance.yml
  .github/workflows/release.yml
  .vscode/settings.json
Due: check

chore: remove private for package.json
  knope.toml
  package.json
Due: sort-package-json, check

chore: prepare release 0.0.2
  CHANGELOG.md
  package.json
Due: sort-package-json, check

chore: release 0.0.2
  CHANGELOG.md
  package.json
Due: sort-package-json, check

chore: adding evironment to release workflow
  .github/workflows/release.yml
Due: none

fix: apllying good registry dependencies to items
  src/registry/kobalte/registry.json
Due: check

fix: get-tag jobs did not had the correct token
  .github/workflows/release.yml
Due: none

chore: prepare release 0.0.3
  CHANGELOG.md
  package.json
Due: sort-package-json, check

chore: release 0.0.3
  CHANGELOG.md
  package.json
Due: sort-package-json, check

fix: release workflow
  .github/workflows/release.yml
Due: none

fix: update token with proper one
  .github/workflows/release.yml
Due: none
