Repository carere/zaidan: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, check

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bun commitlint --edit {1}

pre-commit:
  commands:
    sort-package-json:
      glob: "package.json"
      run: bun sort-package-json {staged_files}
      stage_fixed: true
    check:
      glob: "*.{js,ts,tsx,json,jsonc,html,css}"
      run: bun biome check --write {staged_files}
      stage_fixed: true

feat: add basic layout for zaidan website
  .vscode/settings.json
  bun.lock
  package.json
  src/components/item-explorer.tsx
  src/components/item-picker.tsx
  src/components/mode-switcher.tsx
  src/components/preview.tsx
  src/components/site-config.tsx
  src/components/style-switcher.tsx
  src/lib/utils.ts
  src/registry/hooks/use-mobile.ts
  src/registry/ui/badge.tsx
  src/registry/ui/button.tsx
  src/registry/ui/collapsible.tsx
  src/registry/ui/input.tsx
  src/registry/ui/select.tsx
  src/registry/ui/separator.tsx
  src/registry/ui/sheet.tsx
  src/registry/ui/sidebar.tsx
  src/registry/ui/skeleton.tsx
  src/registry/ui/tooltip.tsx
  src/routes/__root.tsx
  src/routes/index.tsx
  src/styles.css
  src/styles/style-lyra.css
  src/styles/style-maia.css
  src/styles/style-mira.css
  src/styles/style-nova.css
  src/styles/style-vega.css
  tsconfig.json
  vite.config.ts
Due: sort-package-json, check

feat: finishing main layout
  src/components/logo.tsx
  src/registry/ui/separator.tsx
  src/routes/__root.tsx
  src/routes/index.tsx
  src/styles.css
  src/types/index.ts
Due: check

feat: applying style-vega to body
  src/components/style-switcher.tsx
  src/registry/ui/select.tsx
  src/routes/__root.tsx
  src/routes/index.tsx
Due: check

feat: using pathless route for layout
  src/components/item-explorer.tsx
  src/components/preview.tsx
  src/registry/ui/badge.tsx
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/_app/getting-started.tsx
  src/routes/_app/index.tsx
  src/routes/_app/route.tsx
Due: check

feat: add velite to the mix
  .gitignore
  .vscode/settings.json
  bun.lock
  content/hello-world.mdx
  package.json
  src/components/mdx-content.tsx
  src/routes/_app/index.tsx
  tsconfig.json
  velite.config.ts
  vite.config.ts
Due: sort-package-json, check

chore: use netlify as target hosting platform
  bun.lock
  package.json
  vite.config.ts
Due: sort-package-json, check

fix: remove routeTree from linting & checking
  biome.json
Due: check

chore: adding velite as vite plugin
  bun.lock
  content/getting-started.mdx
  content/hello-world.mdx
  content/home.mdx
  package.json
  src/routeTree.gen.ts
  src/routes/_app/getting-started.tsx
  src/routes/_app/index.tsx
  velite.config.ts
  vite.config.ts
Due: sort-package-json, check

feat: setup dynamic routing for docs & ui
  .gitignore
  bun.lock
  package.json
  public/logo192.png
  public/logo512.png
  public/tanstack-circle-logo.png
  public/tanstack-word-logo-white.svg
  src/components/mdx-content.tsx
  src/components/shell.tsx
  src/components/style-switcher.tsx
  src/lib/types.ts
  src/pages/docs/getting-started.mdx
  src/pages/docs/home.mdx
  src/reset.d.ts
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/_app/getting-started.tsx
  src/routes/_app/index.tsx
  src/routes/ui.$component.tsx
  src/routes/{-$doc}.tsx
  src/styles/style-maia.css
  src/styles/style-mira.css
  src/styles/style-nova.css
  src/styles/style-vega.css
  tsconfig.json
  velite.config.ts
  vite.config.ts
Due: sort-package-json, check

feat: adding new logo to zaidan website
  public/favicon.ico
  public/zaidan.svg
  src/components/logo.tsx
  src/components/shell.tsx
  src/logo.svg
  src/routes/__root.tsx
  src/routes/{-$doc}.tsx
  vite.config.ts
Due: check

feat: add style provider to manage style selection on components preview
  specs/style-provider-implementation.md
  src/components/shell.tsx
  src/components/style-switcher.tsx
  src/lib/style-context.tsx
  src/routes/__root.tsx
  src/routes/ui.$component.tsx
Due: check

chore: remove specs for versioning
  specs/style-provider-implementation.md
Due: none

chore: updating gititgore
  .gitignore
Due: none

feat: finishing styling and composing sidebars
  src/components/item-explorer.tsx
  src/pages/docs/getting-started.mdx
  src/pages/docs/home.mdx
  src/pages/docs/installation.mdx
  src/registry/ui/sidebar.tsx
  src/styles/style-vega.css
  velite.config.ts
Due: check

feat: add examples wrapper & tabs component
  src/components/example.tsx
  src/components/item-explorer.tsx
  src/pages/ui/button.mdx
  src/registry/ui/tabs.tsx
Due: check

feat: update ui component page with tabs for preview and docs
  reviews/component-preview-review.md
  src/components/shell.tsx
  src/registry/ui/tabs.tsx
  src/routes/ui.$component.tsx
  src/styles/style-vega.css
Due: check

chore: remove reviews from versioning
  reviews/component-preview-review.md
Due: none

chore: update gitignore with latest change
  .gitignore
Due: none

feat(ui): sync alert component from shadcn
  public/r/alert.json
  public/r/registry.json
  src/pages/ui/alert.mdx
  src/registry/examples/alert-example.tsx
  src/registry/ui/alert.tsx
Due: check

feat: updating layout & fixing alert components
  public/r/alert.json
  src/components/shell.tsx
  src/pages/ui/alert.mdx
  src/pages/ui/button.mdx
  src/registry/examples/alert-example.tsx
  src/registry/ui/alert.tsx
  src/routes/__root.tsx
  src/routes/ui.$component.tsx
  src/routes/{-$doc}.tsx
  velite.config.ts
Due: check

feat: sync alert component
  public/r/alert.json
  public/r/registry.json
  src/components/shell.tsx
  src/pages/ui/alert.mdx
  src/pages/ui/button.mdx
  src/registry/examples/alert-example.tsx
  src/registry/ui/alert.tsx
  src/routes/__root.tsx
  src/routes/ui.$component.tsx
  src/routes/{-$doc}.tsx
  velite.config.ts
Due: check

fix: remnove vite ignore & fix build
  .gitignore
  src/pages/ui/button.mdx
  src/routes/ui.$component.tsx
Due: check

feat: add syntax highlighting to mdx
  .vscode/settings.json
  bun.lock
  package.json
  src/components/callout.tsx
  src/components/code-block-wrapper.tsx
  src/components/component-source.tsx
  src/components/copy-button.tsx
  src/components/mdx-content.tsx
  src/components/mdx-header.tsx
  src/lib/icons.tsx
  src/pages/docs/home.mdx
  src/pages/docs/installation.mdx
  src/pages/ui/alert.mdx
  src/registry/ui/accordion.tsx
  src/registry/ui/aspect-ratio.tsx
  src/registry/ui/kbd.tsx
  src/registry/ui/tabs.tsx
  src/registry/ui/toggle.tsx
  src/routes/ui.$component.tsx
  src/routes/{-$doc}.tsx
  src/styles/mdx.css
  velite.config.ts
Due: sort-package-json, check

fix: improve docs page + tabs
  src/components/mdx-content.tsx
  src/routes/ui.$component.tsx
Due: check

feat: add mdx components
  .vscode/settings.json
  bun.lock
  package.json
  src/components/callout.tsx
  src/components/code-block-wrapper.tsx
  src/components/component-source.tsx
  src/components/copy-button.tsx
  src/components/mdx-content.tsx
  src/components/mdx-header.tsx
  src/lib/icons.tsx
  src/pages/docs/home.mdx
  src/pages/docs/installation.mdx
  src/pages/ui/alert.mdx
  src/registry/ui/accordion.tsx
  src/registry/ui/aspect-ratio.tsx
  src/registry/ui/kbd.tsx
  src/registry/ui/tabs.tsx
  src/registry/ui/toggle.tsx
  src/routes/ui.$component.tsx
  src/routes/{-$doc}.tsx
  src/styles/mdx.css
  velite.config.ts
Due: sort-package-json, check

feat: add view switcher
  src/components/shell.tsx
  src/components/view-switcher.tsx
  src/lib/icons.tsx
  src/lib/types.ts
  src/lib/view-context.tsx
  src/pages/ui/alert.mdx
  src/routes/__root.tsx
  src/routes/ui.$component.tsx
Due: check

refactor: update sidebar to be more flexible
  src/components/item-explorer.tsx
  src/routeTree.gen.ts
  src/routes/ui.$slug.tsx
  src/routes/{-$slug}.tsx
Due: check

chore: adding css linting & formating to biome
  .vscode/settings.json
  biome.json
  bun.lock
  package.json
  src/components/example.tsx
  src/components/item-explorer.tsx
  src/components/logo.tsx
  src/components/mdx-content.tsx
  src/components/mdx-header.tsx
  src/components/shell.tsx
  src/registry/ui/accordion.tsx
  src/registry/ui/alert.tsx
  src/registry/ui/button.tsx
  src/registry/ui/input.tsx
  src/registry/ui/kbd.tsx
  src/registry/ui/select.tsx
  src/registry/ui/separator.tsx
  src/registry/ui/sidebar.tsx
  src/registry/ui/tabs.tsx
  src/registry/ui/toggle.tsx
  src/registry/ui/tooltip.tsx
  src/routes/__root.tsx
  src/routes/ui.$slug.tsx
  src/routes/{-$slug}.tsx
  src/styles.css
  src/styles/expressive-code.css
  src/styles/mdx.css
Due: sort-package-json, check

chore: update netlify build command
  bun.lock
  netlify.toml
  package.json
  src/registry/ui/accordion.tsx
  src/registry/ui/aspect-ratio.tsx
  src/registry/ui/kbd.tsx
  vite.config.ts
Due: sort-package-json, check

chore: adding all neccessary rehype plugins
  .vscode/settings.json
  bun.lock
  package.json
  src/lib/rehype-plugins/fix-expressive-code.ts
  velite.config.ts
Due: sort-package-json, check

chore: adding proper styling for code blocks and installation instructions
  .vscode/settings.json
  bun.lock
  package.json
  src/components/callout.tsx
  src/components/code-block-wrapper.tsx
  src/components/component-source.tsx
  src/components/copy-button.tsx
  src/components/mdx-content.tsx
  src/components/mdx-header.tsx
  src/lib/remark-plugins/code-tabs.ts
  src/lib/remark-plugins/directives.ts
  src/lib/remark-plugins/gh-directives.ts
  src/lib/remark-plugins/inline-frontmatter.ts
  src/lib/remark-plugins/issue-autolink.ts
  src/lib/remark-plugins/kbd.ts
  src/lib/remark-plugins/mdx-frontmatter.ts
  src/lib/remark-plugins/package-manager-tabs.ts
  src/lib/remark-plugins/steps.ts
  src/lib/remark-plugins/tab-group.ts
  src/lib/remark-plugins/toc.ts
  src/pages/ui/alert.mdx
  src/routes/ui.$slug.tsx
  src/routes/{-$slug}.tsx
  src/styles/expressive-code.css
  src/styles/mdx.css
  velite.config.ts
Due: sort-package-json, check

feat: mdx configuration
  .vscode/settings.json
  bun.lock
  package.json
  src/components/callout.tsx
  src/components/code-block-wrapper.tsx
  src/components/component-source.tsx
  src/components/copy-button.tsx
  src/components/mdx-content.tsx
  src/components/mdx-header.tsx
  src/lib/rehype-plugins/fix-expressive-code.ts
  src/lib/remark-plugins/code-tabs.ts
  src/lib/remark-plugins/directives.ts
  src/lib/remark-plugins/gh-directives.ts
  src/lib/remark-plugins/inline-frontmatter.ts
  src/lib/remark-plugins/issue-autolink.ts
  src/lib/remark-plugins/kbd.ts
  src/lib/remark-plugins/mdx-frontmatter.ts
  src/lib/remark-plugins/package-manager-tabs.ts
  src/lib/remark-plugins/steps.ts
  src/lib/remark-plugins/tab-group.ts
  src/lib/remark-plugins/toc.ts
  src/pages/ui/alert.mdx
  src/routes/ui.$slug.tsx
  src/routes/{-$slug}.tsx
  src/styles/expressive-code.css
  src/styles/mdx.css
  velite.config.ts
Due: sort-package-json, check

chore: add better handling for headings
  .vscode/settings.json
  bun.lock
  package.json
  src/components/mdx-content.tsx
  src/components/shell.tsx
  src/lib/rehype-plugins/fix-expressive-code.ts
  src/pages/ui/alert.mdx
  src/routes/ui.$slug.tsx
  src/routes/{-$slug}.tsx
  src/styles.css
  velite.config.ts
Due: sort-package-json, check

chore: clean some unused remark plugins
  bun.lock
  src/components/mdx-content.tsx
  src/lib/remark-plugins/inline-frontmatter.ts
  src/lib/remark-plugins/issue-autolink.ts
  src/lib/remark-plugins/mdx-frontmatter.ts
  src/lib/remark-plugins/toc.ts
  src/pages/docs/home.mdx
  src/pages/docs/installation.mdx
  src/pages/ui/alert.mdx
  velite.config.ts
Due: check

feat: add toc to doc pages
  src/components/toc.tsx
  src/lib/types.ts
  src/routes/ui.$slug.tsx
  src/routes/{-$slug}.tsx
Due: check

fix: use sticky instead of fixed for positioning header
  src/components/shell.tsx
  src/routes/ui.$slug.tsx
  src/routes/{-$slug}.tsx
  src/styles.css
Due: check

feat: using vite loading to get mdx and fix scroll padding
  .vscode/settings.json
  bun.lock
  package.json
  src/components/mdx-components.tsx
  src/components/shell.tsx
  src/lib/vite-plugins/index.ts
  src/routes/ui.$slug.tsx
  src/routes/{-$slug}.tsx
  velite.config.ts
  vite.config.ts
Due: sort-package-json, check

fix: remove broken highlight in toc
  src/components/toc.tsx
  src/routes/ui.$slug.tsx
Due: check
