Repository carere/zaidan: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, check

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bun commitlint --edit {1}

pre-commit:
  commands:
    sort-package-json:
      glob: "package.json"
      run: bun sort-package-json {staged_files}
      stage_fixed: true
    check:
      glob: "*.{js,ts,tsx,json,jsonc,html,css}"
      run: bun biome check --write {staged_files}
      stage_fixed: true

fix: scroll to selected item when opening select
  .github/workflows/quality-assurance.yml
  src/registry/kobalte/ui/select.tsx
Due: check

chore: updating knope configuration
  knope.toml
Due: none

feat: add composable image crop block
  .agents/skills/zaidan-agent/SKILL.md
  src/assets/kevin.jpeg
  src/components/home-hero.tsx
  src/lib/config.ts
  src/pages/blocks/kobalte/image-crop.mdx
  src/pages/changelog/image-crop-and-agent-docs.mdx
  src/pages/docs/zaidan-agent.mdx
  src/registry/kobalte/blocks/image-crop/canvas.tsx
  src/registry/kobalte/blocks/image-crop/constants.ts
  src/registry/kobalte/blocks/image-crop/context.ts
  src/registry/kobalte/blocks/image-crop/geometry.ts
  src/registry/kobalte/blocks/image-crop/image-utils.ts
  src/registry/kobalte/blocks/image-crop/index.tsx
  src/registry/kobalte/blocks/image-crop/provider.tsx
  src/registry/kobalte/blocks/image-crop/types.ts
  src/registry/kobalte/examples/blocks/image-crop-example.tsx
  src/registry/kobalte/registry.json
Due: check

docs: clarify zaidan agent changelog
  src/pages/changelog/image-crop-and-agent-docs.mdx
Due: none

fix: clean up image crop object URLs
  src/registry/kobalte/blocks/image-crop/image-utils.ts
Due: check

docs: configure agent workflows and domain context
  AGENTS.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
  docs/context/root.md
Due: none

feat(chart): prove solid-recharts foundation
  bun.lock
  package.json
  src/pages/ui/kobalte/chart.mdx
  src/registry/kobalte/examples/ui/chart-example.tsx
  src/registry/kobalte/registry.json
  src/registry/kobalte/ui/chart.tsx
  vite.config.ts
Due: sort-package-json, check

chore(tooling): use cocogitto commit hook
  lefthook.yml
Due: none

docs(domain): define chart catalog entries
  docs/context/root.md
Due: none

docs(context): define command search
  docs/context/root.md
Due: none

docs(domain): define Create preset ownership
  docs/context/root.md
Due: none

build(validation): adopt Moon and Bun validation graph (#253)
  .commitlintrc.yaml
  .gitignore
  .moon/toolchains.yml
  .moon/workspace.yml
  .vscode/settings.json
  bun.lock
  lefthook.yml
  moon.yml
  package.json
  tests/browser/built-route.test.tsx
  tests/browser/setup-built-app.ts
  tests/unit/toolchain-contract.test.ts
  tsconfig.json
  tsconfig.typecheck.json
  vitest.config.ts
  wrangler.jsonc
Due: sort-package-json, check

fix(validation): align browser and output contracts (#253)
  moon.yml
  tests/browser/built-route.test.tsx
  tests/browser/setup-built-app.ts
  tests/unit/toolchain-contract.test.ts
  vite.config.ts
  vitest.config.ts
Due: check

fix(ci): align QA cache with Moon graph (#253)
  .github/workflows/quality-assurance.yml
  tests/unit/toolchain-contract.test.ts
Due: check

test(validation): lock Cloudflare preview contract (#254)
  tests/unit/toolchain-contract.test.ts
Due: check

fix(validation): load Cloudflare browser libraries (#254)
  vitest.config.ts
Due: check

fix(validation): provision Cloudflare Chromium dependencies (#254)
  .gitignore
  scripts/install-cloudflare-playwright-deps.sh
Due: none

fix(validation): verify Cloudflare Chromium runtime (#254)
  scripts/install-cloudflare-playwright-deps.sh
Due: none

fix(validation): allow Cloudflare browser startup latency (#254)
  vitest.config.ts
Due: check

fix(validation): wait for Cloudflare route readiness (#254)
  vitest.config.ts
Due: check

fix(routing): address canonical routing review findings (#255)
  scripts/route-file-discovery.ts
  scripts/validate-product-routing.ts
  src/components/canonical-route.tsx
  src/lib/compatibility-response.ts
  src/lib/compatibility-route.ts
  src/lib/product-routing.ts
  src/routes/_website.blocks.$slug.docs.tsx
  src/routes/_website.blocks.{-$slug}.tsx
  src/routes/_website.changelog.$slug.tsx
  src/routes/_website.changelog.index.tsx
  src/routes/_website.customization.tsx
  src/routes/_website.dark-mode.tsx
  src/routes/_website.faq.tsx
  src/routes/_website.index.tsx
  src/routes/_website.installation.$slug.tsx
  src/routes/_website.installation.tsx
  src/routes/_website.roadmap.tsx
  src/routes/_website.ui.$slug.docs.tsx
  src/routes/_website.ui.{-$slug}.tsx
  src/routes/_website.zaidan-agent.tsx
  src/routes/preview.$kind.$primitive.$slug.tsx
  src/routes/preview.home.tsx
  tests/browser/built-route.test.tsx
  tests/browser/product-routing.test.tsx
  tests/unit/product-routing.test.ts
  vitest.config.ts
Due: check

build(vite): remove Cloudflare Vite plugin wiring (#255)
  bun.lock
  package.json
  tests/browser/serve-built-app.ts
  tests/browser/setup-built-app.ts
  vite.config.ts
Due: sort-package-json, check

fix(routing): preserve Preview and Sidebar fragment identity (#255)
  src/components/canonical-route.tsx
  src/components/example.tsx
  src/lib/compatibility-response.ts
  src/lib/product-routing.ts
  tests/browser/product-routing.test.tsx
  tests/unit/product-routing.test.ts
  vitest.config.ts
Due: check

fix(routing): complete Preview anchor contracts (#255)
  src/components/canonical-route.tsx
  src/components/example.tsx
  src/registry/kobalte/examples/ui/aspect-ratio-example.tsx
  src/registry/kobalte/examples/ui/item-example.tsx
  src/registry/kobalte/examples/ui/sidebar-example.tsx
  tests/browser/product-routing.test.tsx
  vitest.config.ts
Due: check

refactor(routing): localize Preview anchor formatting (#255)
  src/components/canonical-route.tsx
  src/components/example.tsx
Due: check

fix(routing): preserve reactive Preview anchor props (#255)
  src/components/example.tsx
  src/lib/cn.ts
  src/lib/utils.ts
  tests/browser/product-routing.test.tsx
Due: check

feat(navigation): ship responsive Product Header (#256)
  src/components/canonical-route.tsx
  src/components/product-header.tsx
  src/lib/product-navigation.ts
  src/routes/__root.tsx
  src/routes/_website.tsx
  src/styles.css
  tests/browser/product-routing.test.tsx
  tests/unit/product-routing.test.ts
  vitest.config.ts
Due: check

fix(navigation): address Product Header review findings (#256)
  src/components/product-header.tsx
  tests/browser/product-routing.test.tsx
  vitest.config.ts
Due: check

feat(home): ship native Home Showcase (#260)
  public/home-showcase-dark.svg
  public/home-showcase-light.svg
  src/components/home-hero.tsx
  src/components/home-showcase.tsx
  src/routes/_website.index.tsx
  tests/browser/built-route.test.tsx
  tests/browser/product-routing.test.tsx
  vitest.config.ts
Due: check

fix(home): redirect legacy Home Preview (#260)
  src/lib/product-routing.ts
  src/routes/preview.home.tsx
  tests/browser/product-routing.test.tsx
  tests/unit/product-routing.test.ts
  vitest.config.ts
Due: check

fix(create): tighten preset rejection boundaries (#261)
  src/lib/preset-token.ts
  src/lib/product-routing.ts
  tests/browser/product-routing.test.tsx
  tests/unit/preset-token.test.ts
  tests/unit/product-routing.test.ts
Due: check

fix(create): resolve preset token review findings (#261)
  src/components/create-preview.tsx
  src/components/create-workspace.tsx
  src/lib/preset-protocol.ts
  src/lib/preset-registry.ts
  src/lib/preset-theme.ts
  src/lib/preset-token.ts
  src/routes/preview.create.tsx
  tests/browser/preset-workspace.test.tsx
  tests/unit/preset-protocol.test.ts
  tests/unit/preset-registry.test.ts
  tests/unit/preset-token.test.ts
  vitest.config.ts
Due: check

feat(create): make preset tokens installable end to end (#261)
  moon.yml
  src/components/canonical-route.tsx
  src/components/create-workspace.tsx
  src/lib/preset-protocol.ts
  src/lib/preset-registry.ts
  src/lib/preset-token.ts
  src/lib/product-routing.ts
  src/routeTree.gen.ts
  src/routes/_product.create.tsx
  src/routes/preview.create.tsx
  src/routes/r.kobalte.preset-{$token}[.]json.ts
  tests/browser/preset-workspace.test.tsx
  tests/browser/product-routing.test.tsx
  tests/integration/preset-consumer.ts
  tests/unit/preset-protocol.test.ts
  tests/unit/preset-registry.test.ts
  tests/unit/preset-token.test.ts
  tests/unit/product-routing.test.ts
  tests/unit/toolchain-contract.test.ts
  vitest.config.ts
Due: check

fix(create): complete create preview interactions (#261)
  src/components/create-preview.tsx
  src/components/create-workspace.tsx
  src/lib/preset-protocol.ts
  tests/browser/preset-workspace.test.tsx
  tests/unit/preset-protocol.test.ts
  vitest.config.ts
Due: check

feat(docs): deliver canonical Docs experience (#257)
  src/components/docs-shell.tsx
  src/components/mdx-components.tsx
  src/components/product-header.tsx
  src/components/toc.tsx
  src/lib/product-routing.ts
  src/pages/docs/changelog.mdx
  src/pages/docs/customization.mdx
  src/pages/docs/dark-mode.mdx
  src/pages/docs/faq.mdx
  src/pages/docs/installation.mdx
  src/pages/docs/installation/astro.mdx
  src/pages/docs/installation/manual.mdx
  src/pages/docs/installation/solid-start.mdx
  src/pages/docs/installation/tanstack-router.mdx
  src/pages/docs/installation/tanstack-start.mdx
  src/pages/docs/installation/vite.mdx
  src/pages/docs/introduction.mdx
  src/pages/docs/roadmap.mdx
  src/pages/docs/zaidan-agent.mdx
  src/routes/_product.docs.$slug.tsx
  src/routes/_product.docs.changelog.$entry.tsx
  src/routes/_product.docs.installation.$slug.tsx
  src/routes/_product.docs.tsx
  tests/browser/docs-experience.test.tsx
  tests/unit/product-routing.test.ts
  vitest.config.ts
Due: check

fix(docs): complete canonical Docs review consolidation (#257)
  src/components/docs-navigation-groups.tsx
  src/components/docs-shell.tsx
  src/components/product-header.tsx
  src/lib/canonical-docs-route.ts
  src/lib/canonical-docs-route.tsx
  src/lib/product-routing.ts
  src/routes/_product.docs.$slug.tsx
  src/routes/_product.docs.changelog.$entry.tsx
  src/routes/_product.docs.installation.$slug.tsx
  src/routes/_product.docs.tsx
  tests/browser/docs-experience.test.tsx
  vitest.config.ts
Due: check

fix(docs): resolve canonical Docs standards findings (#257)
  src/components/docs-shell.tsx
  src/components/product-header.tsx
  src/lib/product-navigation-focus.ts
  src/lib/product-routing.ts
  tests/browser/support/docs-commands.ts
  vitest.config.ts
Due: check
