Repository carere/zaidan: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, check

sort-package-json:
  run: bun sort-package-json {staged_files}
  stage_fixed: true

check:
  run: bun biome check --write {staged_files}
  stage_fixed: true

chore: update brainstorming document
  new-zaidan-system.md
Due: none

chore: fix some css utility classes and default env var
  .env.example
  justfile
  src/components/pickers/base-color-picker.tsx
Due: check

chore: review sync and zaidan transformer
  .claude/agents/zaidan-transformer.md
  .claude/commands/sync.md
Due: none

chore: add brainstorming documents for new zaidan agentic system
  .gitignore
  ai_docs/README.md
  ai_review/user_stories/hackernews.yml
  justfile
  new-zaidan-system.md
  scripts/setup-dev-env.ts
Due: check

feat: add registry agent and commands
  .claude/agents/registry-manager.md
  .claude/commands/registry-audit.md
  .claude/commands/registry-update.md
Due: none

feat: add some skills
  .claude/skills/react-to-solid/SKILL.md
  .claude/skills/react-to-solid/docs/base-ui-mapping.md
  .claude/skills/react-to-solid/docs/corvu-patterns.md
  .claude/skills/react-to-solid/docs/kobalte-patterns.md
  .claude/skills/react-to-solid/docs/third-party-deps.md
  .claude/skills/source-resolver/SKILL.md
Due: none

chore: preparing update to registry support
  new-registry-system.md
  src/components/item-explorer.tsx
  src/components/item-picker.tsx
Due: check

fix(registry): correct broken registryDependency in sonner
  src/registry/kobalte/registry.json
Due: check

feat: add multi-registry support to agentic system
  .claude/agents/docs-syncer.md
  .claude/agents/zaidan-transformer.md
  .claude/commands/registry-audit.md
  .claude/commands/registry-update.md
  .claude/commands/sync.md
  .claude/skills/source-resolver/SKILL.md
Due: none

fix: github button broken & radius-default useless in cli command
  bun.lock
  package.json
  src/components/cli-button.tsx
  src/components/github-link.tsx
  src/routes/_website.tsx
  wrangler.jsonc
Due: sort-package-json, check

feat: sync 3 components from bazza/ui
  ai_review/user_stories/data-table-filter-i18n.yaml
  ai_review/user_stories/data-table-filter-tst.yaml
  ai_review/user_stories/data-table-filter.yaml
  src/registry/kobalte/blocks/data-table-filter/components/active-filters.tsx
  src/registry/kobalte/blocks/data-table-filter/components/data-table-filter.tsx
  src/registry/kobalte/blocks/data-table-filter/components/filter-actions.tsx
  src/registry/kobalte/blocks/data-table-filter/components/filter-operator.tsx
  src/registry/kobalte/blocks/data-table-filter/components/filter-selector.tsx
  src/registry/kobalte/blocks/data-table-filter/components/filter-subject.tsx
  src/registry/kobalte/blocks/data-table-filter/components/filter-value.tsx
  src/registry/kobalte/blocks/data-table-filter/core/filters.ts
  src/registry/kobalte/blocks/data-table-filter/core/operators.ts
  src/registry/kobalte/blocks/data-table-filter/core/types.ts
  src/registry/kobalte/blocks/data-table-filter/hooks/use-data-table-filters.tsx
  src/registry/kobalte/blocks/data-table-filter/hooks/use-debounce-callback.tsx
  src/registry/kobalte/blocks/data-table-filter/hooks/use-unmount.tsx
  src/registry/kobalte/blocks/data-table-filter/index.tsx
  src/registry/kobalte/blocks/data-table-filter/integrations/tanstack-table/filter-fns.ts
  src/registry/kobalte/blocks/data-table-filter/integrations/tanstack-table/index.tsx
  src/registry/kobalte/blocks/data-table-filter/lib/array.ts
  src/registry/kobalte/blocks/data-table-filter/lib/debounce.ts
  src/registry/kobalte/blocks/data-table-filter/lib/filter-fns.ts
  src/registry/kobalte/blocks/data-table-filter/lib/helpers.ts
  src/registry/kobalte/blocks/data-table-filter/lib/i18n.ts
  src/registry/kobalte/blocks/data-table-filter/lib/memo.ts
  src/registry/kobalte/blocks/data-table-filter/locales/de.json
  src/registry/kobalte/blocks/data-table-filter/locales/en.json
  src/registry/kobalte/blocks/data-table-filter/locales/fr.json
  src/registry/kobalte/blocks/data-table-filter/locales/nl.json
  src/registry/kobalte/blocks/data-table-filter/locales/zh-CN.json
  src/registry/kobalte/blocks/data-table-filter/locales/zh-TW.json
  src/registry/kobalte/blocks/data-table-filter/ui/debounced-input.tsx
  src/registry/kobalte/registry.json
Due: check

docs: add data-table-filter documentation and examples
  src/pages/bazza/kobalte/data-table-filter.mdx
  src/registry/kobalte/examples/bazza/data-table-filter-example.tsx
Due: check

feat: add sync command to zaidan agentic system
  .claude/commands/sync.md
Due: none

feat: updating agents & commands
  .claude/agents/docs-syncer.md
  .claude/agents/registry-manager.md
  .claude/agents/zaidan-transformer.md
  .claude/commands/sync.md
  justfile
Due: none

fix: add exmaple url to docs-syncer
  .claude/agents/docs-syncer.md
  .claude/commands/sync.md
  CLAUDE.md
Due: none

feat: sync data-table-filter from bazza
  ai_review/user_stories/data-table-filter-i18n.yaml
  ai_review/user_stories/data-table-filter-tst.yaml
  src/components/item-explorer.tsx
  src/components/item-picker.tsx
  src/lib/registries.ts
  src/pages/bazza/kobalte/data-table-filter.mdx
  src/registry/kobalte/blocks/data-table-filter/components/active-filters.tsx
  src/registry/kobalte/blocks/data-table-filter/components/data-table-filter.tsx
  src/registry/kobalte/blocks/data-table-filter/components/filter-actions.tsx
  src/registry/kobalte/blocks/data-table-filter/components/filter-operator.tsx
  src/registry/kobalte/blocks/data-table-filter/components/filter-selector.tsx
  src/registry/kobalte/blocks/data-table-filter/components/filter-subject.tsx
  src/registry/kobalte/blocks/data-table-filter/components/filter-value.tsx
  src/registry/kobalte/blocks/data-table-filter/core/filters.ts
  src/registry/kobalte/blocks/data-table-filter/core/operators.ts
  src/registry/kobalte/blocks/data-table-filter/core/types.ts
  src/registry/kobalte/blocks/data-table-filter/hooks/use-data-table-filters.tsx
  src/registry/kobalte/blocks/data-table-filter/hooks/use-debounce-callback.tsx
  src/registry/kobalte/blocks/data-table-filter/hooks/use-unmount.tsx
  src/registry/kobalte/blocks/data-table-filter/index.tsx
  src/registry/kobalte/blocks/data-table-filter/integrations/tanstack-table/filter-fns.ts
  src/registry/kobalte/blocks/data-table-filter/integrations/tanstack-table/index.tsx
  src/registry/kobalte/blocks/data-table-filter/lib/array.ts
  src/registry/kobalte/blocks/data-table-filter/lib/debounce.ts
  src/registry/kobalte/blocks/data-table-filter/lib/filter-fns.ts
  src/registry/kobalte/blocks/data-table-filter/lib/helpers.ts
  src/registry/kobalte/blocks/data-table-filter/lib/i18n.ts
  src/registry/kobalte/blocks/data-table-filter/lib/memo.ts
  src/registry/kobalte/blocks/data-table-filter/locales/de.json
  src/registry/kobalte/blocks/data-table-filter/locales/en.json
  src/registry/kobalte/blocks/data-table-filter/locales/fr.json
  src/registry/kobalte/blocks/data-table-filter/locales/nl.json
  src/registry/kobalte/blocks/data-table-filter/locales/zh-CN.json
  src/registry/kobalte/blocks/data-table-filter/locales/zh-TW.json
  src/registry/kobalte/blocks/data-table-filter/ui/debounced-input.tsx
  src/registry/kobalte/examples/bazza/data-table-filter-example.tsx
  src/registry/kobalte/registry.json
  velite.config.ts
Due: check

fix: add missing deps and remove hardcode registry
  bun.lock
  package.json
  src/components/item-explorer.tsx
  src/components/item-picker.tsx
  src/registry/kobalte/blocks/data-table-filter/components/filter-selector.tsx
  src/registry/kobalte/examples/bazza/data-table-filter-example.tsx
Due: sort-package-json, check

feat: sync data-table-filter from bazza
  ai_review/user_stories/data-table-filter-i18n.yaml
  ai_review/user_stories/data-table-filter-tst.yaml
  bun.lock
  package.json
  src/components/item-explorer.tsx
  src/components/item-picker.tsx
  src/lib/registries.ts
  src/pages/bazza/kobalte/data-table-filter.mdx
  src/registry/kobalte/blocks/data-table-filter/components/active-filters.tsx
  src/registry/kobalte/blocks/data-table-filter/components/data-table-filter.tsx
  src/registry/kobalte/blocks/data-table-filter/components/filter-actions.tsx
  src/registry/kobalte/blocks/data-table-filter/components/filter-operator.tsx
  src/registry/kobalte/blocks/data-table-filter/components/filter-selector.tsx
  src/registry/kobalte/blocks/data-table-filter/components/filter-subject.tsx
  src/registry/kobalte/blocks/data-table-filter/components/filter-value.tsx
  src/registry/kobalte/blocks/data-table-filter/core/filters.ts
  src/registry/kobalte/blocks/data-table-filter/core/operators.ts
  src/registry/kobalte/blocks/data-table-filter/core/types.ts
  src/registry/kobalte/blocks/data-table-filter/hooks/use-data-table-filters.tsx
  src/registry/kobalte/blocks/data-table-filter/hooks/use-debounce-callback.tsx
  src/registry/kobalte/blocks/data-table-filter/hooks/use-unmount.tsx
  src/registry/kobalte/blocks/data-table-filter/index.tsx
  src/registry/kobalte/blocks/data-table-filter/integrations/tanstack-table/filter-fns.ts
  src/registry/kobalte/blocks/data-table-filter/integrations/tanstack-table/index.tsx
  src/registry/kobalte/blocks/data-table-filter/lib/array.ts
  src/registry/kobalte/blocks/data-table-filter/lib/debounce.ts
  src/registry/kobalte/blocks/data-table-filter/lib/filter-fns.ts
  src/registry/kobalte/blocks/data-table-filter/lib/helpers.ts
  src/registry/kobalte/blocks/data-table-filter/lib/i18n.ts
  src/registry/kobalte/blocks/data-table-filter/lib/memo.ts
  src/registry/kobalte/blocks/data-table-filter/locales/de.json
  src/registry/kobalte/blocks/data-table-filter/locales/en.json
  src/registry/kobalte/blocks/data-table-filter/locales/fr.json
  src/registry/kobalte/blocks/data-table-filter/locales/nl.json
  src/registry/kobalte/blocks/data-table-filter/locales/zh-CN.json
  src/registry/kobalte/blocks/data-table-filter/locales/zh-TW.json
  src/registry/kobalte/blocks/data-table-filter/ui/debounced-input.tsx
  src/registry/kobalte/examples/bazza/data-table-filter-example.tsx
  src/registry/kobalte/registry.json
  velite.config.ts
Due: sort-package-json, check

fix: improve ui review and visual analysis
  .claude/agents/zaidan-transformer.md
  .claude/commands/sync.md
  justfile
Due: none

refactor: update data-table-filter to draft
  .claude/agents/code-reviewer.md
  .claude/commands/sync.md
  .claude/skills/code-review/SKILL.md
  .gitignore
  package.json
  scripts/registry-build.ts
  src/components/item-explorer.tsx
  src/components/item-picker.tsx
  src/lib/config.ts
  src/registry/kobalte/blocks/data-table-filter/components/active-filters.tsx
  src/registry/kobalte/blocks/data-table-filter/components/data-table-filter.tsx
  src/registry/kobalte/blocks/data-table-filter/components/filter-operator.tsx
  src/registry/kobalte/blocks/data-table-filter/components/filter-selector.tsx
  src/registry/kobalte/blocks/data-table-filter/components/filter-value.tsx
  src/registry/kobalte/blocks/data-table-filter/core/operators.ts
  src/registry/kobalte/blocks/data-table-filter/hooks/use-unmount.tsx
  src/registry/kobalte/blocks/data-table-filter/lib/i18n.ts
  src/registry/kobalte/blocks/data-table-filter/ui/debounced-input.tsx
Due: sort-package-json, check

chore: remove ai_review folder from versioning
  ai_review/user_stories/data-table-filter-i18n.yaml
  ai_review/user_stories/data-table-filter-tst.yaml
  ai_review/user_stories/hackernews.yml
Due: none

docs: wrong lines in the docs
  src/components/item-explorer.tsx
  src/components/item-picker.tsx
  src/pages/shadcn/kobalte/accordion.mdx
  src/pages/shadcn/kobalte/avatar.mdx
  src/pages/shadcn/kobalte/breadcrumb.mdx
  src/pages/shadcn/kobalte/button.mdx
  src/pages/shadcn/kobalte/calendar.mdx
  src/pages/shadcn/kobalte/chart.mdx
  src/pages/shadcn/kobalte/checkbox.mdx
  src/pages/shadcn/kobalte/collapsible.mdx
  src/pages/shadcn/kobalte/combobox.mdx
  src/pages/shadcn/kobalte/field.mdx
  src/pages/shadcn/kobalte/hover-card.mdx
  src/pages/shadcn/kobalte/input-group.mdx
  src/pages/shadcn/kobalte/input-otp.mdx
  src/pages/shadcn/kobalte/item.mdx
  src/pages/shadcn/kobalte/navigation-menu.mdx
  src/pages/shadcn/kobalte/pagination.mdx
  src/pages/shadcn/kobalte/progress.mdx
  src/pages/shadcn/kobalte/resizable.mdx
  src/pages/shadcn/kobalte/select.mdx
  src/pages/shadcn/kobalte/sheet.mdx
  src/pages/shadcn/kobalte/sidebar-icon.mdx
  src/pages/shadcn/kobalte/sonner.mdx
  src/pages/shadcn/kobalte/switch.mdx
  src/pages/shadcn/kobalte/table.mdx
Due: check

feat: sync animated-background from motion-primitives
  src/components/item-explorer.tsx
  src/components/item-picker.tsx
  src/lib/registries.ts
  src/pages/motion-primitives/kobalte/animated-background.mdx
  src/registry/kobalte/examples/motion-primitives/animated-background-example.tsx
  src/registry/kobalte/registry.json
  src/registry/kobalte/ui/animated-background.tsx
  velite.config.ts
Due: check

fix: place shadcn at the bottom of the list
  src/components/item-explorer.tsx
  src/components/item-picker.tsx
  src/lib/config.ts
  src/registry/kobalte/examples/motion-primitives/animated-background-example.tsx
  src/registry/kobalte/ui/animated-background.tsx
Due: check

feat: sync animated-background from motion-primitives
  src/components/item-explorer.tsx
  src/components/item-picker.tsx
  src/lib/config.ts
  src/lib/registries.ts
  src/pages/motion-primitives/kobalte/animated-background.mdx
  src/registry/kobalte/examples/motion-primitives/animated-background-example.tsx
  src/registry/kobalte/registry.json
  src/registry/kobalte/ui/animated-background.tsx
  velite.config.ts
Due: check

refactor: add dark mode docs + simplify color mode
  src/components/mode-switcher.tsx
  src/components/pickers/base-color-picker.tsx
  src/lib/types.ts
  src/pages/docs/dark-mode.mdx
  src/registry/kobalte/components/color-mode.tsx
  src/registry/kobalte/hooks/use-color-mode.ts
  src/registry/kobalte/registry.json
  src/registry/kobalte/ui/sonner.tsx
  src/routes/__root.tsx
  src/routes/_website.registry.$registry.{-$slug}.tsx
Due: check

docs: add documentations to zaidan
  src/components/item-explorer.tsx
  src/components/item-picker.tsx
  src/pages/docs/customization.mdx
  src/pages/docs/dark-mode.mdx
  src/pages/docs/faq.mdx
  src/pages/docs/home.mdx
  src/pages/docs/installation.mdx
  src/pages/docs/roadmap.mdx
  velite.config.ts
Due: check

docs: add rtl to roadmap
  src/pages/docs/roadmap.mdx
Due: none

docs: update roadmap
  src/components/mdx-components.tsx
  src/pages/docs/roadmap.mdx
Due: check

refactor: place everyhting under ui and blocks on navigation item
  .claude/agents/registry-manager.md
  .claude/agents/zaidan-transformer.md
  .claude/commands/sync.md
  improve-zaidan-agent.md
  src/components/item-explorer.tsx
  src/components/item-picker.tsx
  src/components/not-found-page.tsx
  src/components/page-toggle-nav.tsx
  src/lib/registries.ts
  src/lib/registry-entries.ts
  src/pages/docs/home.mdx
  src/registry/kobalte/registry.json
  src/routeTree.gen.ts
  src/routes/_website.blocks.$slug.docs.tsx
  src/routes/_website.blocks.{-$slug}.tsx
  src/routes/_website.ui.$slug.docs.tsx
  src/routes/_website.ui.{-$slug}.tsx
  src/routes/preview.$kind.$primitive.$slug.tsx
Due: check

chore: remove registry name from sidebar
  src/components/item-explorer.tsx
Due: check

feat: sync data-table-filter from bazza
  src/pages/bazza/kobalte/data-table-filter.mdx
  src/registry/kobalte/blocks/data-table-filter/components/filter-operator.tsx
  src/registry/kobalte/blocks/data-table-filter/components/filter-selector.tsx
  src/registry/kobalte/blocks/data-table-filter/components/filter-value.tsx
  src/registry/kobalte/blocks/data-table-filter/core/filters.ts
  src/registry/kobalte/blocks/data-table-filter/core/types.ts
  src/registry/kobalte/blocks/data-table-filter/integrations/tanstack-table/index.tsx
  src/registry/kobalte/blocks/data-table-filter/lib/filter-fns.ts
  src/registry/kobalte/blocks/data-table-filter/lib/i18n.ts
  src/registry/kobalte/blocks/data-table-filter/lib/memo.ts
  src/registry/kobalte/blocks/data-table-filter/locales/de.json
  src/registry/kobalte/blocks/data-table-filter/locales/fr.json
  src/registry/kobalte/blocks/data-table-filter/locales/zh-CN.json
  src/registry/kobalte/blocks/data-table-filter/locales/zh-TW.json
  src/registry/kobalte/examples/bazza/data-table-filter-example.tsx
  src/registry/kobalte/registry.json
Due: check

feat: improve transform step with better visual analysis
  .claude/agents/zaidan-transformer.md
  .claude/commands/sync.md
  improve-zaidan-agent.md
Due: none

feat: adding missing skills, commands and agents to zaidan
  .claude/agents/bowser-qa-agent.md
  .claude/agents/builder.md
  .claude/commands/ui-review.md
  .claude/skills/git-github-ops/SKILL.md
  .claude/skills/git-github-ops/docs/conventional-commits.md
  .claude/skills/git-github-ops/docs/pr-workflows.md
  .claude/skills/git-github-ops/docs/troubleshooting.md
  .claude/skills/git-github-ops/templates/commit-examples.md
  .claude/skills/git-github-ops/templates/pr-template.md
  .claude/skills/playwright-bowser/SKILL.md
  .claude/skills/playwright-bowser/docs/playwright-cli.md
  .claude/skills/shadcn-registry/SKILL.md
  .claude/skills/worktree-manager/EXAMPLES.md
  .claude/skills/worktree-manager/OPERATIONS.md
  .claude/skills/worktree-manager/SKILL.md
  .claude/skills/worktree-manager/TROUBLESHOOTING.md
  .claude/skills/worktree-manager/scripts/setup-dev-env.ts
  .gitignore
  justfile
  src/pages/docs/faq.mdx
  src/pages/docs/roadmap.mdx
  src/pages/docs/zaidan-agent.mdx
Due: check

fix: path inside agentic system
  .claude/agents/builder.md
  .claude/skills/worktree-manager/OPERATIONS.md
  .claude/skills/worktree-manager/TROUBLESHOOTING.md
Due: none

feat: add carere svg logo to zaidan
  src/components/icons/carere.tsx
  src/components/mdx-components.tsx
Due: check

feat: add bento grid to homepage
  src/components/bento-grid.tsx
  src/components/bento-notch.tsx
  src/components/not-found-page.tsx
  src/lib/registry-entries.ts
  src/pages/docs/home.mdx
  src/routeTree.gen.ts
  src/routes/_website.$slug.tsx
  src/routes/_website.index.tsx
  src/routes/_website.tsx
  src/routes/preview.home.tsx
Due: check

feat: add shadcn homepage to zaidan
  src/components/bento-grid.tsx
  src/components/home/appearance-settings.tsx
  src/components/home/button-group-demo.tsx
  src/components/home/button-group-input-group.tsx
  src/components/home/button-group-nested.tsx
  src/components/home/button-group-popover.tsx
  src/components/home/empty-avatar-group.tsx
  src/components/home/field-checkbox.tsx
  src/components/home/field-demo.tsx
  src/components/home/field-hear.tsx
  src/components/home/field-slider.tsx
  src/components/home/index.tsx
  src/components/home/input-group-button.tsx
  src/components/home/input-group-demo.tsx
  src/components/home/item-demo.tsx
  src/components/home/notion-prompt-form.tsx
  src/components/home/spinner-badge.tsx
  src/components/home/spinner-empty.tsx
  src/routes/_website.index.tsx
  src/routes/preview.home.tsx
Due: check

Path conditions:
  sort-package-json: any of: package.json
  check: any of: *.{js,ts,tsx,json,jsonc,html,css}
