Repository carere/zaidan: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, check

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bun commitlint --edit {1}

pre-commit:
  commands:
    sort-package-json:
      glob: "package.json"
      run: bun sort-package-json {staged_files}
      stage_fixed: true
    check:
      glob: "*.{js,ts,tsx,json,jsonc,html,css}"
      run: bun biome check --write {staged_files}
      stage_fixed: true

chore: remove worktree management from zaidan agent
  .claude/agents/code-reviewer.md
  .claude/agents/docs-syncer.md
  .claude/agents/zaidan-transformer.md
  .claude/commands/sync.md
  .claude/skills/worktree-manager/EXAMPLES.md
  .claude/skills/worktree-manager/OPERATIONS.md
  .claude/skills/worktree-manager/SKILL.md
  .claude/skills/worktree-manager/TROUBLESHOOTING.md
  .claude/skills/worktree-manager/scripts/setup-dev-env.ts
  .env.example
  .vscode/settings.json
  package.json
  scripts/registry-build.ts
  vite.config.ts
Due: sort-package-json, check

feat: introduce changelog Velite collection with per-entry routes
  src/components/home-hero.tsx
  src/components/mdx-components.tsx
  src/lib/config.ts
  src/lib/registry-entries.ts
  src/lib/types.ts
  src/lib/utils.ts
  src/pages/changelog/february-2026-misc.mdx
  src/pages/changelog/new-blocks.mdx
  src/pages/changelog/website-launch.mdx
  src/pages/changelog/zaidan-agent.mdx
  src/pages/docs/changelog.mdx
  src/routeTree.gen.ts
  src/routes/_website.changelog.$slug.tsx
  src/routes/_website.changelog.index.tsx
  velite.config.ts
Due: check

feat: changelogs as velite collection
  src/components/home-hero.tsx
  src/components/mdx-components.tsx
  src/lib/config.ts
  src/lib/registry-entries.ts
  src/lib/types.ts
  src/lib/utils.ts
  src/pages/changelog/february-2026-misc.mdx
  src/pages/changelog/new-blocks.mdx
  src/pages/changelog/website-launch.mdx
  src/pages/changelog/zaidan-agent.mdx
  src/pages/docs/changelog.mdx
  src/routeTree.gen.ts
  src/routes/_website.changelog.$slug.tsx
  src/routes/_website.changelog.index.tsx
  velite.config.ts
Due: check

feat: sync sortable from ReUI
  bun.lock
  package.json
  src/pages/ui/kobalte/sortable.mdx
  src/registry/kobalte/examples/ui/sortable-example.tsx
  src/registry/kobalte/registry.json
  src/registry/kobalte/ui/sortable.tsx
Due: sort-package-json, check

refactor(sortable): move from ui to blocks
  src/pages/blocks/kobalte/sortable.mdx
  src/registry/kobalte/blocks/sortable.tsx
  src/registry/kobalte/examples/blocks/sortable-example.tsx
  src/registry/kobalte/registry.json
Due: check

fix(sortable): repair Nested example so parent categories reorder
  src/pages/blocks/kobalte/sortable.mdx
  src/registry/kobalte/examples/blocks/sortable-example.tsx
Due: check

refactor(sortable): drop Nested example, refresh remaining variants
  src/pages/blocks/kobalte/sortable.mdx
  src/registry/kobalte/examples/blocks/sortable-example.tsx
Due: check

fix(routes): prevent layout collapse during route transitions
  src/routes/_website.tsx
Due: check

feat(docs): replace Loading… fallback with a docs-shaped skeleton
  src/components/docs-skeleton.tsx
  src/routes/_website.$slug.tsx
  src/routes/_website.blocks.$slug.docs.tsx
  src/routes/_website.changelog.$slug.tsx
  src/routes/_website.installation.$slug.tsx
  src/routes/_website.tsx
  src/routes/_website.ui.$slug.docs.tsx
Due: check

chore: update deps & switch to tsgo
  bun.lock
  package.json
Due: sort-package-json, check

fix: some remarks from greptile
  src/registry/kobalte/blocks/sortable.tsx
Due: check

feat: sync sortable from ReUI
  bun.lock
  package.json
  src/components/docs-skeleton.tsx
  src/pages/blocks/kobalte/sortable.mdx
  src/registry/kobalte/blocks/sortable.tsx
  src/registry/kobalte/examples/blocks/sortable-example.tsx
  src/registry/kobalte/registry.json
  src/routes/_website.$slug.tsx
  src/routes/_website.blocks.$slug.docs.tsx
  src/routes/_website.changelog.$slug.tsx
  src/routes/_website.installation.$slug.tsx
  src/routes/_website.ui.$slug.docs.tsx
Due: sort-package-json, check

chore: update hero and new items dot
  bun.lock
  src/components/home-hero.tsx
  src/lib/config.ts
Due: check

docs(changelog): consolidate to launch, agent, and design refresh
  src/pages/changelog/february-2026-misc.mdx
  src/pages/changelog/launch.mdx
  src/pages/changelog/new-blocks.mdx
  src/pages/changelog/sortable-and-design-refresh.mdx
  src/pages/changelog/website-launch.mdx
  src/pages/changelog/zaidan-agent.mdx
Due: none

docs(changelog): consolidate to launch, agent, and design refresh
  bun.lock
  src/components/home-hero.tsx
  src/lib/config.ts
  src/pages/changelog/february-2026-misc.mdx
  src/pages/changelog/launch.mdx
  src/pages/changelog/new-blocks.mdx
  src/pages/changelog/sortable-and-design-refresh.mdx
  src/pages/changelog/website-launch.mdx
  src/pages/changelog/zaidan-agent.mdx
Due: check

build: update github workflow and deps
  .github/workflows/pre-release.yml
  bun.lock
  package.json
Due: sort-package-json, check

chore: prepare release 1.1.0
  CHANGELOG.md
  package.json
Due: sort-package-json, check

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: update workflow deps
  .github/workflows/pre-release.yml
  .github/workflows/quality-assurance.yml
  .github/workflows/release.yml
Due: none

chore: release 1.1.0
  .github/workflows/pre-release.yml
  .github/workflows/quality-assurance.yml
  .github/workflows/release.yml
  CHANGELOG.md
  package.json
Due: sort-package-json, check

build: use local wrangler
  .github/workflows/release.yml
  bun.lock
  package.json
  wrangler.jsonc
Due: sort-package-json, check

chore: go back to wrangler github action
  .github/workflows/release.yml
Due: none

chore: update deps and qa
  .github/workflows/quality-assurance.yml
  .vscode/settings.json
  ai_docs/README.md
  bun.lock
  lefthook.yml
  package.json
  vite.config.ts
Due: sort-package-json, check

feat(sync): restore external registry support
  .claude/agents/zaidan-transformer.md
  .claude/commands/sync.md
Due: none

chore: update sync command
  .claude/commands/sync.md
Due: none

fix(reui-data-grid): make sort/pagination/filter reactive
  src/registry/kobalte/blocks/reui-data-grid/data-grid.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-1-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-10-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-11-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-12-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-13-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-15-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-16-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-17-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-18-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-19-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-2-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-20-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-21-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-22-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-23-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-24-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-25-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-26-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-27-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-28-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-29-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-3-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-4-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-5-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-6-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-7-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-8-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-9-example.tsx
  src/registry/kobalte/examples/blocks/reui-data-grid-example.tsx
Due: check

chore: fixing commitlint
  .commitlintrc.yaml
  .github/workflows/quality-assurance.yml
Due: none

chore: fixing qa-release workflow
  .github/workflows/quality-assurance.yml
Due: none

fix(switch): make control fill root so clicks toggle on entire track
  src/registry/kobalte/ui/switch.tsx
Due: check

fix(switch): prevent double-toggle when wrapped in label
  src/registry/kobalte/ui/switch.tsx
Due: check

chore: add codex agents / skills / AGENTS.md
  .agents/skills/agent-browser/SKILL.md
  .agents/skills/agent-browser/references/authentication.md
  .agents/skills/agent-browser/references/commands.md
  .agents/skills/agent-browser/references/profiling.md
  .agents/skills/agent-browser/references/proxy-support.md
  .agents/skills/agent-browser/references/session-management.md
  .agents/skills/agent-browser/references/snapshot-refs.md
  .agents/skills/agent-browser/references/video-recording.md
  .agents/skills/agent-browser/templates/authenticated-session.sh
  .agents/skills/agent-browser/templates/capture-workflow.sh
  .agents/skills/agent-browser/templates/form-automation.sh
  .agents/skills/code-review/SKILL.md
  .agents/skills/git-github-ops/SKILL.md
  .agents/skills/git-github-ops/docs/conventional-commits.md
  .agents/skills/git-github-ops/docs/pr-workflows.md
  .agents/skills/git-github-ops/docs/troubleshooting.md
  .agents/skills/git-github-ops/templates/commit-examples.md
  .agents/skills/git-github-ops/templates/pr-template.md
  .agents/skills/react-to-solid/SKILL.md
  .agents/skills/react-to-solid/docs/base-ui-mapping.md
  .agents/skills/react-to-solid/docs/corvu-patterns.md
  .agents/skills/react-to-solid/docs/kobalte-patterns.md
  .agents/skills/react-to-solid/docs/third-party-deps.md
  .agents/skills/shadcn-registry/SKILL.md
  .codex/agents/builder.toml
  .codex/agents/code-reviewer.toml
  .codex/agents/docs-syncer.toml
  .codex/agents/qa.toml
  .codex/agents/registry-manager.toml
  .codex/agents/zaidan-transformer.toml
  AGENTS.md
Due: none

fix(theme): restore gray color option
  src/lib/config.ts
  src/lib/theme-utils.ts
  src/lib/themes.ts
  src/lib/types.ts
  src/registry/kobalte/registry.json
Due: check

fix(select): scroll to selected item when opening long lists
  src/registry/kobalte/ui/select.tsx
Due: check

fix: scroll to selected item when opening select
  src/registry/kobalte/ui/select.tsx
Due: check

fix: allow fork's PR to trigger static-test
  .github/workflows/quality-assurance.yml
Due: none
