Repository carere/zaidan: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, check

sort-package-json:
  run: bun sort-package-json {staged_files}
  stage_fixed: true

check:
  run: bun biome check --write {staged_files}
  stage_fixed: true

fix: update token with proper one
  .github/workflows/release.yml
Due: none

fix: remove cache for release
  .github/workflows/release.yml
Due: none

fix: remove cache for release (#133)
  .github/workflows/release.yml
Due: none

feat: add proper registry config for styles
  src/registry/kobalte/registry.json
Due: check

feat: add fonts & radii to registry
  .vscode/settings.json
  bun.lock
  package.json
  src/components/pickers/font-picker.tsx
  src/lib/config.ts
  src/lib/fonts.ts
  src/lib/types.ts
  src/registry/kobalte/registry.json
  src/styles.css
Due: sort-package-json, check

chore: prepare release 0.0.4
  CHANGELOG.md
  package.json
Due: sort-package-json, check

chore: release 0.0.4
  CHANGELOG.md
  package.json
Due: sort-package-json, check

fix: add cloudflare account id
  .github/workflows/release.yml
Due: none

fix: add cloudflare account id (#136)
  .github/workflows/release.yml
Due: none

fix(alert-dialog): close dialog when AlertDialogAction is clicked
  src/registry/kobalte/ui/alert-dialog.tsx
Due: check

refactor: simply set DEFAULT_CONFIG for navigate
  src/components/reset-button.tsx
Due: check

fix(alert-dialog): close dialog when AlertDialogAction is clicked
  src/components/reset-button.tsx
  src/registry/kobalte/ui/alert-dialog.tsx
Due: check

feat(ui): add ShareButton component that copies URL with design system params to clipboard
  src/components/share-button.tsx
  src/routes/_website.tsx
Due: check

fix(ui): use window.location.href for correct URL copying in ShareButton
  src/components/share-button.tsx
Due: check

feat(ui): add ShareButton component
  src/components/share-button.tsx
  src/routes/_website.tsx
Due: check

refactor(ui): replace PreviewBadgeNav with ToggleGroup component
  src/components/page-toggle-nav.tsx
  src/components/preview-badge-nav.tsx
  src/routes/_website.ui.$slug.docs.tsx
  src/routes/_website.ui.{-$slug}.tsx
  tests/page-toggle-nav.spec.ts
Due: check

refactor: add background for better accessibility
  src/components/page-toggle-nav.tsx
  src/registry/kobalte/ui/toggle-group.tsx
  tests/page-toggle-nav.spec.ts
Due: check

refactor(ui): replace PreviewBadgeNav with ToggleGroup component
  src/components/page-toggle-nav.tsx
  src/components/preview-badge-nav.tsx
  src/registry/kobalte/ui/toggle-group.tsx
  src/routes/_website.ui.$slug.docs.tsx
  src/routes/_website.ui.{-$slug}.tsx
Due: check

feat: enhance not found pages with EmptyWithBorder pattern
  src/components/not-found-page.tsx
  src/routes/__root.tsx
  src/routes/_website.ui.$slug.docs.tsx
  src/routes/_website.ui.{-$slug}.tsx
  src/routes/_website.{-$slug}.tsx
  src/routes/preview.$primitive.$slug.tsx
Due: check

test: add Playwright tests for not found pages
  tests/not-found-pages.spec.ts
Due: check

refactor: simplify not found page
  src/components/not-found-page.tsx
  src/routes/_website.tsx
  src/routes/_website.ui.$slug.docs.tsx
  src/routes/_website.ui.{-$slug}.tsx
  src/routes/_website.{-$slug}.tsx
  src/routes/preview.$primitive.$slug.tsx
Due: check

feat(ui): add functional Combobox to NotFoundPage for page navigation
  src/components/not-found-page.tsx
  tests/not-found-pages.spec.ts
Due: check

refactor(ui): use pathnames as combobox options in NotFoundPage
  src/components/not-found-page.tsx
  tests/not-found-pages.spec.ts
Due: check

feat: enhance not found pages with EmptyWithBorder pattern
  src/components/not-found-page.tsx
  src/routes/__root.tsx
  src/routes/_website.tsx
  src/routes/_website.ui.$slug.docs.tsx
  src/routes/_website.ui.{-$slug}.tsx
  src/routes/_website.{-$slug}.tsx
  src/routes/preview.$primitive.$slug.tsx
  tests/not-found-pages.spec.ts
Due: check

feat(ui): add CLI command dialog button to header
  src/components/cli-button.tsx
  src/routes/_website.tsx
Due: check

fix(ui): improve CLI dialog UX
  src/components/cli-button.tsx
Due: check

feat: adding proper copy command button
  src/components/cli-button.tsx
  src/components/customizer.tsx
  src/components/reset-button.tsx
  src/routes/_website.tsx
  src/styles.css
  tests/not-found-pages.spec.ts
Due: check

feat(ui): add CLI command dialog button to header
  src/components/cli-button.tsx
  src/components/customizer.tsx
  src/components/reset-button.tsx
  src/routes/_website.tsx
  src/styles.css
  tests/not-found-pages.spec.ts
Due: check

chore: prepare release 0.0.5
  CHANGELOG.md
  package.json
Due: sort-package-json, check

chore: release 0.0.5
  CHANGELOG.md
  package.json
Due: sort-package-json, check

feat: add proper github link to website
  src/components/github-link.tsx
  src/components/page-toggle-nav.tsx
  src/routes/_website.ui.{-$slug}.tsx
  src/routes/preview.$primitive.$slug.tsx
Due: check

feat: add proper github link to website (#144)
  src/components/github-link.tsx
  src/components/page-toggle-nav.tsx
  src/routes/_website.ui.{-$slug}.tsx
  src/routes/preview.$primitive.$slug.tsx
Due: check

chore: prepare release 0.0.6
  CHANGELOG.md
  package.json
Due: sort-package-json, check

chore: release 0.0.6 (#145)
  CHANGELOG.md
  package.json
Due: sort-package-json, check

docs: first iteration on homepage
  src/pages/docs/home.mdx
Due: none

docs: finishing first version of homepage
  .vscode/settings.json
  src/components/icons/solidjs.tsx
  src/components/mdx-components.tsx
  src/lib/vite-plugins/mdx.ts
  src/pages/docs/home.mdx
Due: check

Path conditions:
  sort-package-json: any of: package.json
  check: any of: *.{js,ts,tsx,json,jsonc,html,css}
