Repository carere/zaidan: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, check

lefthook.yml:

commit-msg:
  commands:
    commitlint:
      run: bun commitlint --edit {1}

pre-commit:
  commands:
    sort-package-json:
      glob: "package.json"
      run: bun sort-package-json {staged_files}
      stage_fixed: true
    check:
      glob: "*.{js,ts,tsx,json,jsonc,html,css}"
      run: bun biome check --write {staged_files}
      stage_fixed: true

chore: rebuild kobalte registry after merging the five reui blocks
  public/r/kobalte/data-grid.json
  public/r/kobalte/event-calendar.json
  public/r/kobalte/filters.json
  public/r/kobalte/gantt.json
  public/r/kobalte/kanban.json
  public/r/kobalte/registry.json
Due: check

fix: repair the vite dependency scan
  src/lib/changelog-entries.ts
  src/routes/_public.docs.changelog.index.tsx
  vite.config.ts
Due: check

feat(filters): add the Create gallery example
  src/registry/kobalte/examples/blocks/filters-example.tsx
Due: check

feat(data-grid): add the Create gallery example
  src/registry/kobalte/examples/blocks/data-grid-example.tsx
Due: check

feat(kanban): add the Create gallery example
  src/registry/kobalte/examples/blocks/kanban-example.tsx
Due: check

feat(gantt): add the Create gallery example
  src/registry/kobalte/examples/blocks/gantt-example.tsx
Due: check

feat(event-calendar): add the Create gallery example
  src/registry/kobalte/examples/blocks/event-calendar-example.tsx
Due: check

fix(kanban): resolve drop position from the drag source
  src/registry/kobalte/blocks/kanban/kanban.tsx
Due: check

feat(docs): flag the five new blocks and five sections as updated
  src/components/docs-sidebar.tsx
  src/lib/config.ts
Due: check

refactor(kanban,sortable): split both blocks into per-concern files
  public/r/kobalte/kanban.json
  public/r/kobalte/registry.json
  public/r/kobalte/sortable.json
  src/pages/blocks/kobalte/kanban-docs.test.ts
  src/pages/blocks/kobalte/kanban.mdx
  src/pages/blocks/kobalte/sortable-docs.test.ts
  src/pages/blocks/kobalte/sortable.mdx
  src/registry/kobalte/blocks/kanban/column.tsx
  src/registry/kobalte/blocks/kanban/constants.ts
  src/registry/kobalte/blocks/kanban/context.ts
  src/registry/kobalte/blocks/kanban/index.tsx
  src/registry/kobalte/blocks/kanban/item.tsx
  src/registry/kobalte/blocks/kanban/kanban.tsx
  src/registry/kobalte/blocks/kanban/overlay.tsx
  src/registry/kobalte/blocks/kanban/sorting.ts
  src/registry/kobalte/blocks/kanban/types.ts
  src/registry/kobalte/blocks/sortable.tsx
  src/registry/kobalte/blocks/sortable/context.ts
  src/registry/kobalte/blocks/sortable/index.tsx
  src/registry/kobalte/blocks/sortable/item.tsx
  src/registry/kobalte/blocks/sortable/overlay.tsx
  src/registry/kobalte/blocks/sortable/sortable.tsx
  src/registry/kobalte/registry.json
Due: check

style(blocks): modernize Tailwind idioms across block sources
  public/r/kobalte/event-calendar.json
  public/r/kobalte/filters.json
  public/r/kobalte/questionnaire.json
  src/lib/config.ts
  src/registry/kobalte/blocks/event-calendar/event-calendar-event.tsx
  src/registry/kobalte/blocks/event-calendar/event-calendar-month-view.tsx
  src/registry/kobalte/blocks/filters/filter-submenu-content.tsx
  src/registry/kobalte/blocks/filters/filters.tsx
  src/registry/kobalte/blocks/filters/select-options-popover.tsx
  src/registry/kobalte/blocks/questionnaire/components.tsx
Due: check

feat: add carere to avatar showcases
  src/components/create-showcases/preview/cards/contributors.tsx
  src/components/create-showcases/preview/cards/no-team-members.tsx
  src/registry/kobalte/examples/blocks/data-grid-example.tsx
  src/registry/kobalte/examples/blocks/event-calendar-example.tsx
  src/registry/kobalte/examples/blocks/filters-example.tsx
  src/registry/kobalte/examples/blocks/kanban-example.tsx
  src/registry/kobalte/examples/docs/avatar-demo.tsx
  src/registry/kobalte/examples/docs/avatar-group-count-icon.tsx
  src/registry/kobalte/examples/docs/avatar-group-count.tsx
  src/registry/kobalte/examples/docs/avatar-group.tsx
  src/registry/kobalte/examples/docs/data-grid-auto-width.tsx
  src/registry/kobalte/examples/docs/data-grid-cell-border.tsx
  src/registry/kobalte/examples/docs/data-grid-dense.tsx
  src/registry/kobalte/examples/docs/data-grid-light.tsx
  src/registry/kobalte/examples/docs/data-grid-row-selection.tsx
  src/registry/kobalte/examples/docs/data-grid-striped.tsx
  src/registry/kobalte/examples/docs/empty-avatar-group.tsx
  src/registry/kobalte/examples/docs/item-avatar.tsx
  src/registry/kobalte/examples/docs/item-dropdown.tsx
  src/registry/kobalte/examples/docs/item-group.tsx
  src/registry/kobalte/examples/ui/avatar-example.tsx
  src/registry/kobalte/examples/ui/card-example.tsx
Due: check

feat: add Kojo implementation workflow
  .kojo/.gitignore
  .kojo/README.md
  .kojo/biome.json
  .kojo/commands.ts
  .kojo/envelopes.ts
  .kojo/factory.json
  .kojo/kojo.config.yaml
  .kojo/lib/agents.ts
  .kojo/lib/coordinator.ts
  .kojo/lib/integration.ts
  .kojo/lib/issues.ts
  .kojo/lib/phases.ts
  .kojo/lib/worker.ts
  .kojo/prompts/implementer/system.md
  .kojo/prompts/implementer/user.md
  .kojo/prompts/integrator/system.md
  .kojo/prompts/integrator/user.md
  .kojo/prompts/parent-reviewer/system.md
  .kojo/prompts/parent-reviewer/user.md
  .kojo/prompts/reviewer/system.md
  .kojo/prompts/reviewer/user.md
  .kojo/prompts/ui-tester/system.md
  .kojo/prompts/ui-tester/user.md
  .kojo/sandbox/Dockerfile
  .kojo/settings.ts
  .kojo/tests/coordinator.test.ts
  .kojo/tests/integration.test.ts
  .kojo/tests/issues.test.ts
  .kojo/tests/publication.test.ts
  .kojo/tests/workspace.ts
  .kojo/tsconfig.json
  .kojo/vitest.config.ts
  .kojo/workflows/implement.ts
  bun.lock
  package.json
Due: sort-package-json, check

chore: remove obsolete Sandcastle test exclusion
  vite.config.ts
Due: check

Add Kojo implementation workflow (#493)
  .kojo/.gitignore
  .kojo/README.md
  .kojo/biome.json
  .kojo/commands.ts
  .kojo/envelopes.ts
  .kojo/factory.json
  .kojo/kojo.config.yaml
  .kojo/lib/agents.ts
  .kojo/lib/coordinator.ts
  .kojo/lib/integration.ts
  .kojo/lib/issues.ts
  .kojo/lib/phases.ts
  .kojo/lib/worker.ts
  .kojo/prompts/implementer/system.md
  .kojo/prompts/implementer/user.md
  .kojo/prompts/integrator/system.md
  .kojo/prompts/integrator/user.md
  .kojo/prompts/parent-reviewer/system.md
  .kojo/prompts/parent-reviewer/user.md
  .kojo/prompts/reviewer/system.md
  .kojo/prompts/reviewer/user.md
  .kojo/prompts/ui-tester/system.md
  .kojo/prompts/ui-tester/user.md
  .kojo/sandbox/Dockerfile
  .kojo/settings.ts
  .kojo/tests/coordinator.test.ts
  .kojo/tests/integration.test.ts
  .kojo/tests/issues.test.ts
  .kojo/tests/publication.test.ts
  .kojo/tests/workspace.ts
  .kojo/tsconfig.json
  .kojo/vitest.config.ts
  .kojo/workflows/implement.ts
  bun.lock
  package.json
  vite.config.ts
Due: sort-package-json, check

docs: establish Solid 2 migration decision map
  docs/research/solid2-wayfinder.md
Due: none

docs: investigate Solid 2 replacement primitives
  docs/research/solid2-primitives.md
Due: none

docs: research Solid 2 ecosystem dependency sources
  docs/research/solid2-ecosystem.md
Due: none

docs: research Solid 2 runtime and website toolchain
  docs/research/solid2-runtime.md
Due: none

docs: record Solid 2 Sonner animation reference
  docs/research/solid2-sonner-animation-reference.md
Due: none

chore: remove kojo and sandcastle from project
  .kojo/.gitignore
  .kojo/README.md
  .kojo/biome.json
  .kojo/commands.ts
  .kojo/envelopes.ts
  .kojo/factory.json
  .kojo/kojo.config.yaml
  .kojo/lib/agents.ts
  .kojo/lib/coordinator.ts
  .kojo/lib/integration.ts
  .kojo/lib/issues.ts
  .kojo/lib/phases.ts
  .kojo/lib/worker.ts
  .kojo/prompts/implementer/system.md
  .kojo/prompts/implementer/user.md
  .kojo/prompts/integrator/system.md
  .kojo/prompts/integrator/user.md
  .kojo/prompts/parent-reviewer/system.md
  .kojo/prompts/parent-reviewer/user.md
  .kojo/prompts/reviewer/system.md
  .kojo/prompts/reviewer/user.md
  .kojo/prompts/ui-tester/system.md
  .kojo/prompts/ui-tester/user.md
  .kojo/sandbox/Dockerfile
  .kojo/settings.ts
  .kojo/tests/coordinator.test.ts
  .kojo/tests/integration.test.ts
  .kojo/tests/issues.test.ts
  .kojo/tests/publication.test.ts
  .kojo/tests/workspace.ts
  .kojo/tsconfig.json
  .kojo/vitest.config.ts
  .kojo/workflows/implement.ts
Due: check

chore: update package.json
  bun.lock
  package.json
Due: sort-package-json, check

fix(switch): restore unchecked styling across registry styles
  biome.json
  bun.lock
  moon.yml
  package.json
  playwright.config.ts
  public/r/kobalte/style-luma.json
  public/r/kobalte/style-lyra.json
  public/r/kobalte/style-maia.json
  public/r/kobalte/style-mira.json
  public/r/kobalte/style-nova.json
  public/r/kobalte/style-rhea.json
  public/r/kobalte/style-sera.json
  public/r/kobalte/style-vega.json
  src/registry/kobalte/styles/style-luma.css
  src/registry/kobalte/styles/style-lyra.css
  src/registry/kobalte/styles/style-maia.css
  src/registry/kobalte/styles/style-mira.css
  src/registry/kobalte/styles/style-nova.css
  src/registry/kobalte/styles/style-rhea.css
  src/registry/kobalte/styles/style-sera.css
  src/registry/kobalte/styles/style-vega.css
  tests/browser/README.md
  tests/browser/index.html
  tests/browser/switch.fixture.tsx
  tests/browser/switch.spec.ts
  tests/browser/vite.config.ts
  tsconfig.json
  vite.config.ts
Due: sort-package-json, check

fix: render removable chips for multiple combobox selections (#490)
  public/r/kobalte/combobox.json
  src/pages/ui/kobalte/combobox.mdx
  src/registry/kobalte/examples/ui/combobox-example.tsx
  src/registry/kobalte/ui/combobox.test.tsx
  src/registry/kobalte/ui/combobox.tsx
  vite.config.ts
Due: check

fix(filters): keep non-searchable submenus open on hover
  bun.lock
  package.json
  playwright.config.ts
  public/r/kobalte/filters.json
  src/registry/kobalte/blocks/filters/filters.tsx
  tests/browser/README.md
  tests/browser/filters.spec.ts
  tests/browser/fixture.tsx
  tests/browser/index.html
  tests/browser/styles.css
  tests/browser/tsconfig.json
  tests/browser/utils.ts
  tests/browser/vite.config.ts
  vite.config.ts
Due: sort-package-json, check

feat(combobox): add shadcn chip composition over Kobalte
  public/r/kobalte/combobox.json
  public/r/kobalte/registry.json
  src/pages/ui/kobalte/combobox.mdx
  src/registry/kobalte/examples/docs/combobox-multiple.tsx
  src/registry/kobalte/examples/ui/combobox-example.tsx
  src/registry/kobalte/registry.json
  src/registry/kobalte/ui/combobox.test.tsx
  src/registry/kobalte/ui/combobox.tsx
Due: check

docs(combobox): open multiple example on focus
  src/registry/kobalte/examples/docs/combobox-multiple.tsx
Due: check

fix(combobox): prevent focus restoration from reopening dismissed popup
  public/r/kobalte/combobox.json
  src/registry/kobalte/ui/combobox.test.tsx
  src/registry/kobalte/ui/combobox.tsx
Due: check

docs: add style setup to manual installation
  src/pages/docs/installation/manual.mdx
Due: none

docs: add required style setup to manual installation (#508)
  src/pages/docs/installation/manual.mdx
Due: none

refactor(combobox): keep chip rendering explicit
  public/r/kobalte/combobox.json
  src/pages/ui/kobalte/combobox.mdx
  src/registry/kobalte/examples/docs/combobox-multiple.tsx
  src/registry/kobalte/examples/ui/combobox-example.tsx
  src/registry/kobalte/ui/combobox.test.tsx
  src/registry/kobalte/ui/combobox.tsx
Due: check

fix(switch): restore unchecked styling across registry styles (#505)
  biome.json
  bun.lock
  moon.yml
  package.json
  playwright.config.ts
  public/r/kobalte/style-luma.json
  public/r/kobalte/style-lyra.json
  public/r/kobalte/style-maia.json
  public/r/kobalte/style-mira.json
  public/r/kobalte/style-nova.json
  public/r/kobalte/style-rhea.json
  public/r/kobalte/style-sera.json
  public/r/kobalte/style-vega.json
  src/registry/kobalte/styles/style-luma.css
  src/registry/kobalte/styles/style-lyra.css
  src/registry/kobalte/styles/style-maia.css
  src/registry/kobalte/styles/style-mira.css
  src/registry/kobalte/styles/style-nova.css
  src/registry/kobalte/styles/style-rhea.css
  src/registry/kobalte/styles/style-sera.css
  src/registry/kobalte/styles/style-vega.css
  tests/browser/README.md
  tests/browser/index.html
  tests/browser/switch.fixture.tsx
  tests/browser/switch.spec.ts
  tests/browser/vite.config.ts
  tsconfig.json
  vite.config.ts
Due: sort-package-json, check

fix(combobox): add shadcn-style removable chip composition (#506)
  public/r/kobalte/combobox.json
  public/r/kobalte/registry.json
  src/pages/ui/kobalte/combobox.mdx
  src/registry/kobalte/examples/docs/combobox-multiple.tsx
  src/registry/kobalte/examples/ui/combobox-example.tsx
  src/registry/kobalte/registry.json
  src/registry/kobalte/ui/combobox.test.tsx
  src/registry/kobalte/ui/combobox.tsx
  vite.config.ts
Due: check

fix(filters): delegate submenu behavior to dropdown primitives
  public/r/kobalte/filters.json
  src/pages/blocks/kobalte/filters.mdx
  src/registry/kobalte/blocks/filters/filter-submenu-content.tsx
  src/registry/kobalte/blocks/filters/filters.tsx
  src/registry/kobalte/blocks/filters/types.ts
  src/registry/kobalte/examples/docs/filters-virtualized.tsx
  tests/browser/filters.fixture.tsx
  tests/browser/filters.spec.ts
Due: check

fix(filters): delegate submenu behavior to dropdown primitives (#507)
  public/r/kobalte/filters.json
  src/pages/blocks/kobalte/filters.mdx
  src/registry/kobalte/blocks/filters/filter-submenu-content.tsx
  src/registry/kobalte/blocks/filters/filters.tsx
  src/registry/kobalte/blocks/filters/types.ts
  src/registry/kobalte/examples/docs/filters-virtualized.tsx
  tests/browser/README.md
  tests/browser/filters.fixture.tsx
  tests/browser/filters.html
  tests/browser/filters.spec.ts
  tests/browser/styles.css
  tests/browser/tsconfig.json
  tests/browser/vite.config.ts
Due: check

fix: distribute semantic colors with registry styles (#509)
  docs/verification/509-semantic-colors.md
  public/r/kobalte/registry.json
  public/r/kobalte/semantic-colors.json
  public/r/kobalte/style-luma.json
  public/r/kobalte/style-lyra.json
  public/r/kobalte/style-maia.json
  public/r/kobalte/style-mira.json
  public/r/kobalte/style-nova.json
  public/r/kobalte/style-rhea.json
  public/r/kobalte/style-sera.json
  public/r/kobalte/style-vega.json
  src/lib/registry-css.test.ts
  src/lib/themes.ts
  src/pages/docs/customization.mdx
  src/pages/docs/installation/vite.mdx
  src/registry/kobalte/registry.json
Due: check

fix: distribute semantic colors with registry styles (#510)
  docs/verification/509-semantic-colors.md
  public/r/kobalte/registry.json
  public/r/kobalte/semantic-colors.json
  public/r/kobalte/style-luma.json
  public/r/kobalte/style-lyra.json
  public/r/kobalte/style-maia.json
  public/r/kobalte/style-mira.json
  public/r/kobalte/style-nova.json
  public/r/kobalte/style-rhea.json
  public/r/kobalte/style-sera.json
  public/r/kobalte/style-vega.json
  src/lib/registry-css.test.ts
  src/lib/themes.ts
  src/pages/docs/customization.mdx
  src/pages/docs/installation/vite.mdx
  src/registry/kobalte/registry.json
Due: check

test(factory): prove authenticated Pi and Eve compatibility
  docs/examples/pi-eve-compatibility/Dockerfile
  docs/examples/pi-eve-compatibility/EVIDENCE.md
  docs/examples/pi-eve-compatibility/README.md
  docs/examples/pi-eve-compatibility/agent/agent.ts
  docs/examples/pi-eve-compatibility/agent/channels/compatibility.ts
  docs/examples/pi-eve-compatibility/agent/instructions.md
  docs/examples/pi-eve-compatibility/agent/lib/workflow.ts
  docs/examples/pi-eve-compatibility/bun.lock
  docs/examples/pi-eve-compatibility/package.json
  docs/examples/pi-eve-compatibility/preflight.test.mjs
  docs/examples/pi-eve-compatibility/refresh.mjs
  docs/examples/pi-eve-compatibility/run.mjs
  docs/examples/pi-eve-compatibility/skill/SKILL.md
  docs/examples/pi-eve-compatibility/skill/resource.txt
  docs/examples/pi-eve-compatibility/tsconfig.json
  docs/examples/pi-eve-compatibility/worker/bridge.ts
  docs/examples/pi-eve-compatibility/worker/refresh.mjs
Due: check

docs(factory): distinguish compatibility image digests
  docs/examples/pi-eve-compatibility/EVIDENCE.md
Due: none
