Repository carere/zaidan: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, check

sort-package-json:
  run: bun sort-package-json {staged_files}
  stage_fixed: true

check:
  run: bun biome check --write {staged_files}
  stage_fixed: true

feat: implement item-picker with combobox navigation
  src/components/item-picker.tsx
Due: check

feat: add GitHub link with star count to header
  src/components/github-link.tsx
  src/components/shell.tsx
Due: check

feat: add github link with number of stars
  .vscode/settings.json
  src/components/github-link.tsx
  src/components/shell.tsx
Due: check

feat: Add GitHub link with star count to header
  .vscode/settings.json
  src/components/github-link.tsx
  src/components/shell.tsx
Due: check

feat: replace item picker input with command component
  src/components/item-picker.tsx
Due: check

fix: use SSR-safe useRouterState for active page detection
  public/r/alert.json
  src/components/item-picker.tsx
Due: check

feat: implement command dialog item picker with Cmd+K shortcut
  src/components/item-picker.tsx
Due: check

fix(item-picker): add reactive dependency for route change detection
  src/components/item-picker.tsx
Due: check

feat: finishing item-picker command
  src/components/item-picker.tsx
Due: check

feat: add isolated component preview route
  src/lib/registry-utils.ts
  src/lib/types.ts
  src/routes/preview.$primitive.$slug.tsx
  src/routes/preview.tsx
Due: check

feat: isolate exmaple rendering from main website
  src/components/item-explorer.tsx
  src/components/item-picker.tsx
  src/components/preview.tsx
  src/lib/registry-utils.ts
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/_website.tsx
  src/routes/_website.ui.{-$slug}.tsx
  src/routes/_website.{-$slug}.tsx
  src/routes/preview.$primitive.$slug.tsx
  src/routes/preview.tsx
Due: check

feat: add customizer section
  .vscode/settings.json
  src/components/customizer.tsx
  src/routes/_website.tsx
  src/routes/_website.ui.{-$slug}.tsx
Due: check

feat: Add isolated component preview route
  .vscode/settings.json
  src/components/customizer.tsx
  src/components/item-explorer.tsx
  src/components/item-picker.tsx
  src/components/preview.tsx
  src/lib/types.ts
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/_website.tsx
  src/routes/_website.ui.{-$slug}.tsx
  src/routes/_website.{-$slug}.tsx
  src/routes/preview.$primitive.$slug.tsx
Due: check

feat(customizer): add all picker implementations
  src/components/customizer.tsx
Due: check

refactor(customizer): extract pickers into separate files
  src/components/customizer.tsx
  src/components/pickers/base-color-picker.tsx
  src/components/pickers/component-library-picker.tsx
  src/components/pickers/constants.ts
  src/components/pickers/font-picker.tsx
  src/components/pickers/icon-library-picker.tsx
  src/components/pickers/index.ts
  src/components/pickers/menu-accent-picker.tsx
  src/components/pickers/menu-color-picker.tsx
  src/components/pickers/radius-picker.tsx
  src/components/pickers/style-picker.tsx
  src/components/pickers/theme-picker.tsx
Due: check

feat(customizer): add all picker implementations
  .vscode/settings.json
  bun.lock
  package.json
  src/components/customizer.tsx
  src/components/github-link.tsx
  src/components/icons/base-ui.tsx
  src/components/icons/github.tsx
  src/components/icons/kobalte.tsx
  src/components/icons/lucide.tsx
  src/components/icons/lyra.tsx
  src/components/icons/maia.tsx
  src/components/icons/menu.tsx
  src/components/icons/mira.tsx
  src/components/icons/nova.tsx
  src/components/icons/radius.tsx
  src/components/icons/vega.tsx
  src/components/icons/zaidan.tsx
  src/components/pickers/base-color-picker.tsx
  src/components/pickers/base-picker.tsx
  src/components/pickers/font-picker.tsx
  src/components/pickers/icon-library-picker.tsx
  src/components/pickers/menu-accent-picker.tsx
  src/components/pickers/menu-color-picker.tsx
  src/components/pickers/radius-picker.tsx
  src/components/pickers/style-picker.tsx
  src/components/pickers/theme-picker.tsx
  src/components/random-button.tsx
  src/components/reset-button.tsx
  src/components/style-switcher.tsx
  src/lib/types.ts
  src/registry/ui/toggle-group.tsx
  src/routes/_website.tsx
  src/styles.css
  src/styles/style-lyra.css
  src/styles/style-maia.css
  src/styles/style-mira.css
  src/styles/style-nova.css
  src/styles/style-vega.css
Due: sort-package-json, check

fix: inproving mobile responsive, still work to do
  src/components/item-picker.tsx
  src/components/pickers/base-color-picker.tsx
  src/components/pickers/base-picker.tsx
  src/components/pickers/font-picker.tsx
  src/components/pickers/icon-library-picker.tsx
  src/components/pickers/menu-accent-picker.tsx
  src/components/pickers/menu-color-picker.tsx
  src/components/pickers/radius-picker.tsx
  src/components/pickers/style-picker.tsx
  src/components/pickers/theme-picker.tsx
  src/components/preview.tsx
  src/routes/_website.tsx
  src/routes/_website.ui.{-$slug}.tsx
  src/routes/_website.{-$slug}.tsx
Due: check

style: fixing some gutter size
  src/components/pickers/base-color-picker.tsx
  src/components/pickers/base-picker.tsx
  src/components/pickers/font-picker.tsx
  src/components/pickers/icon-library-picker.tsx
  src/components/pickers/menu-accent-picker.tsx
  src/components/pickers/menu-color-picker.tsx
  src/components/pickers/radius-picker.tsx
  src/components/pickers/style-picker.tsx
  src/components/pickers/theme-picker.tsx
Due: check

chore(registry): add missing components and fix dependencies
  public/r/registry.json
  registry.json
Due: check

feat: update regitry.json with all the components & dependencies
  public/r/registry.json
  registry.json
Due: check

feat: integrate vibe-kanban-web-companion at app root
  bun.lock
  package.json
  src/routes/__root.tsx
Due: sort-package-json, check

feat: install vibe-kanban-web-companion
  bun.lock
  package.json
  src/routes/__root.tsx
Due: sort-package-json, check

feat(calendar): add weekNumbers, customCell, and monthYearSelection features
  bun.lock
  package.json
  src/pages/ui/calendar.mdx
  src/registry/examples/calendar-example.tsx
  src/registry/ui/calendar.tsx
Due: sort-package-json, check

fix: disable vibe-kanban-companion cauding defects
  src/routes/__root.tsx
Due: check

fix: exmaples ordering for calendar
  src/registry/examples/calendar-example.tsx
Due: check

fix: remove custom dropdown from calendar datepicker with dropdown
  src/registry/examples/calendar-example.tsx
Due: check

fix(calendar): fix four bugs in calendar component
  src/registry/examples/calendar-example.tsx
  src/registry/ui/calendar.tsx
Due: check

fix: select & calendar examples correctness
  src/registry/examples/calendar-example.tsx
  src/registry/ui/select.tsx
Due: check

feat(calendar): add weekNumbers, customCell, and monthYearSelection features
  bun.lock
  package.json
  src/pages/ui/calendar.mdx
  src/registry/examples/calendar-example.tsx
  src/registry/ui/calendar.tsx
  src/registry/ui/select.tsx
  src/routes/__root.tsx
Due: sort-package-json, check

fix(docs): correct line number references in calendar documentation
  src/pages/ui/calendar.mdx
Due: none

fix(chart): revert to SVG renderer and disable emphasis for CSS variable support
  src/registry/examples/chart-example.tsx
  src/registry/ui/chart.tsx
Due: check

fix: add corect examples and order
  src/registry/examples/chart-example.tsx
Due: check

fix(chart): switch from SVG to Canvas renderer to eliminate flickering
  src/registry/ui/chart.tsx
Due: check

chore: add .playwright-mcp/ to gitignore
  .gitignore
Due: none

fix(chart): Use SVG renderer with disabled emphasis for CSS variable support
  .gitignore
  src/registry/examples/chart-example.tsx
  src/registry/ui/chart.tsx
Due: check

chore: update README by removing components list
  README.md
Due: none

feat(docs): sync sidebar examples and documentation for all variants
  src/pages/ui/sidebar-floating.mdx
  src/pages/ui/sidebar-icon.mdx
  src/pages/ui/sidebar-inset.mdx
  src/pages/ui/sidebar.mdx
  src/registry/examples/sidebar-example.tsx
  src/registry/examples/sidebar-floating-example.tsx
  src/registry/examples/sidebar-icon-example.tsx
  src/registry/examples/sidebar-inset-example.tsx
  tests/sidebar.spec.ts
Due: check

Path conditions:
  sort-package-json: any of: package.json
  check: any of: *.{js,ts,tsx,json,jsonc,html,css}
