Repository carere/zaidan: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, check

sort-package-json:
  run: bun sort-package-json {staged_files}
  stage_fixed: true

check:
  run: bun biome check --write {staged_files}
  stage_fixed: true

fix(factory): seal immutable receipts for sandbox verification
  apps/factory/src/docker-worker.ts
  apps/factory/tests/GRAPH-ACCEPTANCE-EVIDENCE.md
Due: check

fix(factory): retain pending recovery effects behind rollout gate
  apps/factory/src/issue-workflow.ts
  apps/factory/tests/rollout.test.ts
Due: check

docs(factory): distinguish deterministic matrix and live acceptance evidence
  docs/factory/live-fixture-runbook.md
Due: none

fix(factory): reuse existing GitHub auth with private Telegram configuration
  apps/factory/fixtures/live/github.ts
  apps/factory/fixtures/live/prepare.test.ts
  apps/factory/tests/live-factory.ts
  docs/factory/live-fixture-runbook.md
Due: check

test(factory): cover production interruption recovery matrix
  apps/factory/moon.yml
  apps/factory/tests/graph-fixture.ts
  apps/factory/tests/production-fault-matrix.test.ts
Due: check

fix(factory): verify external delivery from accepted graph receipts
  apps/factory/README.md
  apps/factory/moon.yml
  apps/factory/src/external-delivery.ts
  apps/factory/src/graph-delivery.ts
  apps/factory/src/production-adapters.ts
  apps/factory/tests/graph-delivery.test.ts
  apps/factory/tests/graph-fixture.ts
Due: check

chore: add mastra core
  bun.lock
  package.json
Due: sort-package-json, check

chore: add mastra core (#530)
  bun.lock
  package.json
Due: sort-package-json, check

docs: refresh Solid 2 dependency readiness
  docs/research/solid2-dependency-status.md
  docs/research/solid2-wayfinder.md
Due: none

fix(radio-group): handle clicks on the radio circle
  public/r/kobalte/radio-group.json
  src/registry/kobalte/ui/radio-group.tsx
  tests/browser/README.md
  tests/browser/radio-group.fixture.tsx
  tests/browser/radio-group.html
  tests/browser/radio-group.spec.ts
  tests/browser/vite.config.ts
Due: check

fix(data-grid): allow vertical scroll chaining
  public/r/kobalte/data-grid.json
  src/registry/kobalte/blocks/data-grid/data-grid-scroll-area.tsx
  tests/browser/README.md
  tests/browser/data-grid.fixture.tsx
  tests/browser/data-grid.html
  tests/browser/data-grid.spec.ts
  tests/browser/vite.config.ts
Due: check

fix(data-grid): allow vertical scroll chaining (#534)
  public/r/kobalte/data-grid.json
  src/registry/kobalte/blocks/data-grid/data-grid-scroll-area.tsx
  tests/browser/README.md
  tests/browser/data-grid.fixture.tsx
  tests/browser/data-grid.html
  tests/browser/data-grid.spec.ts
  tests/browser/vite.config.ts
Due: check

fix(radio-group): handle clicks on the radio circle (#533)
  public/r/kobalte/radio-group.json
  src/registry/kobalte/ui/radio-group.tsx
  tests/browser/README.md
  tests/browser/radio-group.fixture.tsx
  tests/browser/radio-group.html
  tests/browser/radio-group.spec.ts
  tests/browser/vite.config.ts
Due: check

Path conditions:
  sort-package-json: any of: package.json
  check: any of: *.{js,ts,tsx,json,jsonc,html,css}
