Repository carere/zaidan: changes, and which lefthook commands are due for each by the changed paths.
All: sort-package-json, check

sort-package-json:
  run: bun sort-package-json {staged_files}
  stage_fixed: true

check:
  run: bun biome check --write {staged_files}
  stage_fixed: true

feat: update homepage
  src/components/home/empty-avatar-group.tsx
  src/components/home/index.tsx
Due: check

fix(registry): add missing lucide-solid dependency to bazza-data-table-filter
  src/registry/kobalte/registry.json
Due: check

chore: prepare release 1.0.5
  CHANGELOG.md
  package.json
Due: sort-package-json, check

chore: release 1.0.5
  CHANGELOG.md
  package.json
Due: sort-package-json, check

chore(claude): using agent browser instead of playwright-cli
  .claude/agents/docs-syncer.md
  .claude/agents/qa.md
  .claude/agents/zaidan-transformer.md
  .claude/commands/sync.md
  .claude/commands/ui-review.md
  .claude/skills/agent-browser/SKILL.md
  .claude/skills/agent-browser/references/authentication.md
  .claude/skills/agent-browser/references/commands.md
  .claude/skills/agent-browser/references/profiling.md
  .claude/skills/agent-browser/references/proxy-support.md
  .claude/skills/agent-browser/references/session-management.md
  .claude/skills/agent-browser/references/snapshot-refs.md
  .claude/skills/agent-browser/references/video-recording.md
  .claude/skills/agent-browser/templates/authenticated-session.sh
  .claude/skills/agent-browser/templates/capture-workflow.sh
  .claude/skills/agent-browser/templates/form-automation.sh
  .claude/skills/playwright-bowser/SKILL.md
  .claude/skills/playwright-bowser/docs/playwright-cli.md
  .gitignore
  CLAUDE.md
  package.json
  playwright.config.ts
  tests/alert-dialog.spec.ts
Due: sort-package-json, check

fix: updating lock file
  bun.lock
Due: none

Small doc fix
  src/pages/docs/zaidan-agent.mdx
Due: none

Update src/pages/docs/zaidan-agent.mdx
  src/pages/docs/zaidan-agent.mdx
Due: none

fix: router bug
  bun.lock
  package.json
  src/components/random-button.tsx
  src/registry/kobalte/ui/accordion.tsx
  src/registry/kobalte/ui/breadcrumb.tsx
  src/registry/kobalte/ui/carousel.tsx
  src/registry/kobalte/ui/command.tsx
  src/registry/kobalte/ui/context-menu.tsx
  src/registry/kobalte/ui/dropdown-menu.tsx
  src/registry/kobalte/ui/input-otp.tsx
  src/registry/kobalte/ui/sheet.tsx
  src/registry/kobalte/ui/sidebar.tsx
  src/registry/kobalte/ui/tooltip.tsx
  src/routes/__root.tsx
  src/routes/_website.ui.{-$slug}.tsx
  src/styles/expressive-code.css
  vite.config.ts
Due: sort-package-json, check

fix(registry): add date-fns to calendar, remove spurious @kobalte/core from sonner
  src/registry/kobalte/registry.json
Due: check

feat: add style luma and sera
  src/components/icons/luma.tsx
  src/components/icons/sera.tsx
  src/components/pickers/style-picker.tsx
  src/lib/config.ts
  src/lib/types.ts
  src/registry/kobalte/styles/style-luma.css
  src/registry/kobalte/styles/style-sera.css
  src/styles.css
Due: check

feat: add luma and sera styles
  src/components/icons/luma.tsx
  src/components/icons/sera.tsx
  src/components/pickers/style-picker.tsx
  src/lib/config.ts
  src/lib/types.ts
  src/registry/kobalte/registry.json
  src/registry/kobalte/styles/style-luma.css
  src/registry/kobalte/styles/style-sera.css
  src/styles.css
Due: check

feat: sync scroll-area from shadcn
  src/pages/shadcn/kobalte/scroll-area.mdx
  src/registry/kobalte/examples/shadcn/scroll-area-example.tsx
  src/registry/kobalte/registry.json
  src/registry/kobalte/ui/scroll-area.tsx
Due: check

chore: using ts native preview
  .vscode/settings.json
  bun.lock
  package.json
  tsconfig.json
Due: sort-package-json, check

chore: remove draft feature and add new-component badge
  scripts/registry-build.ts
  src/components/item-explorer.tsx
  src/components/item-picker.tsx
  src/lib/config.ts
  src/lib/registry-entries.ts
Due: check

fix(scroll-area): wire scrollbar and thumb to style hooks
  src/registry/kobalte/ui/scroll-area.tsx
Due: check

docs: update sync command and agents for unified ui/blocks structure
  .claude/agents/docs-syncer.md
  .claude/agents/registry-manager.md
  .claude/agents/zaidan-transformer.md
  .claude/commands/registry-audit.md
  .claude/commands/registry-update.md
  .claude/commands/sync.md
  CLAUDE.md
  src/pages/docs/zaidan-agent.mdx
Due: none

fix: some minor tweak
  src/registry/kobalte/examples/shadcn/scroll-area-example.tsx
  src/registry/kobalte/ui/scroll-area.tsx
Due: check

feat: add font-heading design token and Heading font picker
  src/components/cli-button.tsx
  src/components/customizer.tsx
  src/components/pickers/heading-font-picker.tsx
  src/components/random-button.tsx
  src/lib/config.ts
  src/lib/types.ts
  src/registry/kobalte/registry.json
  src/registry/kobalte/ui/alert-dialog.tsx
  src/registry/kobalte/ui/alert.tsx
  src/registry/kobalte/ui/card.tsx
  src/registry/kobalte/ui/dialog.tsx
  src/registry/kobalte/ui/drawer.tsx
  src/registry/kobalte/ui/empty.tsx
  src/registry/kobalte/ui/field.tsx
  src/registry/kobalte/ui/item.tsx
  src/registry/kobalte/ui/popover.tsx
  src/registry/kobalte/ui/sheet.tsx
  src/routes/preview.$kind.$primitive.$slug.tsx
  src/routes/preview.home.tsx
  src/styles.css
Due: check

feat: sync shadcn theme update and add chart color picker
  src/components/customizer.tsx
  src/components/pickers/chart-color-picker.tsx
  src/components/random-button.tsx
  src/lib/config.ts
  src/lib/theme-utils.ts
  src/lib/themes.ts
  src/lib/types.ts
  src/registry/kobalte/registry.json
  src/routes/preview.$kind.$primitive.$slug.tsx
  src/routes/preview.home.tsx
Due: check

refactor(chart-color-picker): mirror theme picker UX
  src/components/pickers/chart-color-picker.tsx
  src/components/random-button.tsx
  src/lib/config.ts
  src/lib/theme-utils.ts
  src/lib/types.ts
Due: check

fix: some minor tweak
  .vscode/settings.json
  src/components/pickers/chart-color-picker.tsx
  src/lib/config.ts
Due: check

feat: add chart color to cli button
  src/components/cli-button.tsx
  src/registry/kobalte/registry.json
Due: check

feat: sync shadcn theme update and add chart color picker
  .vscode/settings.json
  src/components/cli-button.tsx
  src/components/customizer.tsx
  src/components/pickers/chart-color-picker.tsx
  src/components/random-button.tsx
  src/lib/config.ts
  src/lib/theme-utils.ts
  src/lib/themes.ts
  src/lib/types.ts
  src/registry/kobalte/registry.json
  src/routes/preview.$kind.$primitive.$slug.tsx
  src/routes/preview.home.tsx
Due: check

feat(fonts): mirror shadcn 26-font catalog and section picker by type
  bun.lock
  package.json
  src/components/pickers/font-picker.tsx
  src/components/pickers/heading-font-picker.tsx
  src/lib/config.ts
  src/lib/fonts.ts
  src/lib/types.ts
  src/pages/docs/customization.mdx
  src/registry/kobalte/registry.json
  src/styles.css
Due: sort-package-json, check

feat: add homepage hero, changelog page, and blue-dot update indicator
  src/components/bento-notch.tsx
  src/components/home-hero.tsx
  src/components/home/index.tsx
  src/components/item-explorer.tsx
  src/components/item-picker.tsx
  src/lib/config.ts
  src/lib/registry-entries.ts
  src/pages/docs/changelog.mdx
  src/routes/_website.index.tsx
  src/routes/preview.home.tsx
Due: check

fix(home): size iframe to its content height to remove inner scroll
  src/lib/types.ts
  src/routes/_website.index.tsx
  src/routes/preview.home.tsx
Due: check

feat(changelog): card grid for previous updates and per-entry separator
  src/components/mdx-components.tsx
  src/pages/docs/changelog.mdx
Due: check

style(docs): polish MDX typography, shrink TOC, and revise changelog
  src/components/mdx-components.tsx
  src/components/toc.tsx
  src/lib/config.ts
  src/pages/docs/changelog.mdx
Due: check

fix: some minor tweak
  .vscode/settings.json
  src/components/home-hero.tsx
  src/lib/config.ts
Due: check

feat: add homepage hero, changelog page, and blue-dot update indicator
  .vscode/settings.json
  src/components/bento-notch.tsx
  src/components/home-hero.tsx
  src/components/home/index.tsx
  src/components/item-explorer.tsx
  src/components/item-picker.tsx
  src/components/mdx-components.tsx
  src/components/toc.tsx
  src/lib/config.ts
  src/lib/registry-entries.ts
  src/lib/types.ts
  src/pages/docs/changelog.mdx
  src/routes/_website.index.tsx
  src/routes/preview.home.tsx
Due: check

Path conditions:
  sort-package-json: any of: package.json
  check: any of: *.{js,ts,tsx,json,jsonc,html,css}
